# Making the database

In [35]:
import pandas as pd
import json
import numpy as np
import os

In [36]:
firstround= pd.read_csv("firstround.csv", sep= ';')
secondround=pd.read_csv("secondround.csv", sep=';')

In [37]:
data=pd.concat([firstround, secondround])

In [38]:
data.shape

(159, 150)

In [39]:
print(list(data.columns))

['ind_id', 'geoCountryName', 'geoLocationName', 'summary', 'industryName', 'headline', 'experience', 'education', 'languages', 'publications', 'certifications', 'volunteer', 'honors', 'projects', 'experience1', 'experience2', 'experience3', 'experience4', 'experience5', 'education1', 'education2', 'education3', 'languages_over2', 'honors_stated', 'publications_stated', 'volunteer_stated', 'projects_stated', 'certifications_stated', 'languages_stated', 'exp1_locationName', 'exp1_companyName', 'exp1_description', 'exp1_company', 'exp1_title', 'exp1_honors', 'exp2_companyName', 'exp2_company', 'exp2_title', 'exp2_locationName', 'exp2_description', 'exp2_honors', 'exp3_locationName', 'exp3_companyName', 'exp3_company', 'exp3_title', 'exp3_description', 'exp4_locationName', 'exp4_companyName', 'exp4_description', 'exp4_company', 'exp4_title', 'exp5_locationName', 'exp5_companyName', 'exp5_description', 'exp5_company', 'exp5_title', 'exp5_honors', 'ed1_school', 'ed1_degreeName', 'ed1_schoolName', 'ed1_fieldOfStudy', 'ed1_activities', 'ed1_description', 'ed1_grade', 'ed1_courses', 'ed1_honors', 'ed2_schoolName', 'ed2_school', 'ed2_fieldOfStudy', 'ed2_degreeName', 'ed2_activities', 'ed2_grade', 'ed2_description', 'ed2_honors', 'ed3_grade', 'ed3_degreeName', 'ed3_schoolName', 'ed3_fieldOfStudy', 'ed3_school', 'ed3_description', 'ed3_activities', 'ed3_courses', 'ed3_honors', 'exp1_startDate_month', 'exp1_startDate_year', 'exp1_endDate_month', 'exp1_endDate_year', 'exp1_industry', 'exp1_company_empl_low', 'exp1_company_empl_high', 'exp2_startDate_month', 'exp2_startDate_year', 'exp2_endDate_month', 'exp2_endDate_year', 'exp2_industry', 'exp2_company_empl_low', 'exp2_company_empl_high', 'exp3_startDate_month', 'exp3_startDate_year', 'exp3_endDate_month', 'exp3_endDate_year', 'exp3_industry', 'exp3_company_empl_low', 'exp3_company_empl_high', 'exp4_startDate_month', 'exp4_startDate_year', 'exp4_endDate_month', 'exp4_endDate_year', 'exp4_industry', 'exp4_company_empl_low', 'exp4_company_empl_high', 'exp5_startDate_month', 'exp5_startDate_year', 'exp5_endDate_month', 'exp5_endDate_year', 'exp5_industry', 'exp5_company_empl_low', 'exp5_company_empl_high', 'ed1_startDate_month', 'ed1_startDate_year', 'ed2_startDate_month', 'ed2_startDate_year', 'ed3_startDate_month', 'ed3_startDate_year', 'exp1_title_direction', 'exp2_title_direction', 'exp3_title_direction', 'exp4_title_direction', 'exp5_title_direction', 'exp1_titleconsulting', 'exp2_titleconsulting', 'exp3_titleconsulting', 'exp4_titleconsulting', 'exp5_titleconsulting', 'exp1_titlefounder', 'exp2_titlefounder', 'exp3_titlefounder', 'exp4_titlefounder', 'exp5_titlefounder', 'consulting_roles', 'direction_roles', 'founding_roles', 'exp1_courses', 'exp2_courses', 'exp3_courses', 'exp3_honors', 'exp4_honors', 'exp4_courses', 'exp5_courses', 'ed2_courses']

In [40]:
# Dropping recoded columns 
data = data[['geoCountryName', 'geoLocationName', 'summary', 'industryName', 'headline', 'languages', 'publications', 'certifications', 'volunteer', 'honors', 'projects','exp1_locationName', 'exp1_companyName', 'exp1_description', 'exp1_title', 'exp1_startDate_month', 'exp1_startDate_year', 'exp1_industry', 'exp1_company_empl_low', 'exp1_company_empl_high', 'exp2_locationName', 'exp2_companyName', 'exp2_description', 'exp2_title', 'exp2_startDate_month', 'exp2_startDate_year', 'exp2_endDate_month', 'exp2_endDate_year', 'exp2_industry', 'exp2_company_empl_low', 'exp2_company_empl_high', 'exp3_locationName', 'exp3_companyName', 'exp3_title', 'exp3_description', 'exp3_startDate_month', 'exp3_startDate_year', 'exp3_endDate_month', 'exp3_endDate_year', 'exp3_industry', 'exp3_company_empl_low', 'exp3_company_empl_high', 'exp4_locationName', 'exp4_companyName', 'exp4_description', 'exp4_title', 'exp4_startDate_month', 'exp4_startDate_year', 'exp4_endDate_month', 'exp4_endDate_year', 'exp4_industry', 'exp4_company_empl_low', 'exp4_company_empl_high', 'exp5_locationName', 'exp5_companyName', 'exp5_description', 'exp5_title', 'exp5_startDate_month', 'exp5_startDate_year', 'exp5_endDate_month', 'exp5_endDate_year', 'exp5_industry', 'exp5_company_empl_low', 'exp5_company_empl_high', 'ed1_degreeName', 'ed1_schoolName', 'ed1_fieldOfStudy', 'ed1_activities', 'ed1_description', 'ed1_startDate_year', 'ed2_schoolName', 'ed2_fieldOfStudy', 'ed2_degreeName', 'ed2_activities', 'ed2_description', 'ed2_startDate_year', 'ed3_degreeName', 'ed3_schoolName', 'ed3_fieldOfStudy', 'ed3_description', 'ed3_activities', 'ed3_startDate_year']]

In [41]:
cols_to_expl= ['languages','publications', 'certifications','volunteer', 'honors', 'projects']
for i in cols_to_expl:
    data[i] = data[i].str[1:-1]
# data['publications'] = data['publications'].str[1:-1]
# data['certifications'] = data['certifications'].str[1:-1]
# data['volunteer'] = data['volunteer'].str[1:-1]
# data['honors'] = data['honors'].str[1:-1]
# data['projects'] = data['projects'].str[1:-1]

In [44]:
#data['languages']= dict(data['languages'])

y = len(data['languages'])
for x in range (1:y):
    b=1
    data[['languages'+str(b), 'languages'+str(b+1)]]=data['languages'].split("{", b, expand=True)

# for i in cols_to_expl:
#     y= len(i)
#     data[i] = data[i].str.split("{", 6, expand=True)

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_4874/3267404791.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  data[i] = data[i].str.split("{", 6, expand=True)

ValueError: Columns must be same length as key

In [42]:
data.head(5)

,geoCountryName,geoLocationName,summary,industryName,headline,languages,publications,certifications,volunteer,honors,...,ed2_degreeName,ed2_activities,ed2_description,ed2_startDate_year,ed3_degreeName,ed3_schoolName,ed3_fieldOfStudy,ed3_description,ed3_activities,ed3_startDate_year
0,France,Paris Metropolitan Region,Antoine croit à l’intelligence de tous et à la...,IT Services and IT Consulting,"Directeur associé de bluenove, initiateur du m...","{'name': 'English', 'proficiency': 'FULL_PROFE...","{'date': {'month': 9, 'year': 2017, 'day': 1},...",,,,...,NaN,NaN,NaN,1996.0,Baccalauréat,Lycée Kernanec,Economics,NaN,NaN,1993.0
1,France,Paris Metropolitan Region,French Entrepreneur - Founder and Managing Par...,Venture Capital and Private Equity Principals,Founder & Managing Partner at ROCH Ventures,,,,,{'description': 'THE WEBBY AWARDS IS THE LEADI...,...,NaN,NaN,NaN,2005.0,Baccalauréat,Lycée Janson-de-Sailly,Sciences Economiques et Sociales Option Anglais,NaN,NaN,1998.0
2,France,Paris Metropolitan Region,Inspired by the power we can build to change t...,Civic and Social Organizations,Co-director Multitudes Foundation - Activist a...,"{'name': 'Anglais', 'proficiency': 'NATIVE_OR_...","{'date': {'month': 1, 'year': 2021, 'day': 21}...",,"{'role': 'Co-Founder', 'companyName': 'Collect...",,...,Training program to prepare women to political...,NaN,NaN,2020.0,Public narrative,Leading change network - Marshall Ganz,Leadership organisationnel,Public narrative is a leadership-development p...,NaN,2020.0
3,France,Paris Metropolitan Region,"IT Consultant, Technical Expert, Lead develope...",IT Services and IT Consulting,Web expert chez Jolicode,{'name': 'Anglais'},"{'date': {'month': 2, 'year': 2015, 'day': 3},...",,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,France,Paris Metropolitan Region,NaN,IT Services and IT Consulting,Directrice des opérations chez Cap Collectif,,,,"{'role': 'Administratrice', 'companyName': 'La...",,...,Licence,"Présidente de l'association ""La belle équipe"",...",NaN,2002.0,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
pd.DataFrame(data['languages'].apply(pd.Series)).add_prefix('lang_')

                                                lang_0
0    {'name': 'English', 'proficiency': 'FULL_PROFE...
1
2    {'name': 'Anglais', 'proficiency': 'NATIVE_OR_...
3                                  {'name': 'Anglais'}
4
..                                                 ...
107  {'name': 'Anglais', 'proficiency': 'PROFESSION...
108  {'name': 'Anglais'}, {'name': 'Espagnol'}, {'n...
109  {'name': 'English', 'proficiency': 'PROFESSION...
110  {'name': 'Anglais', 'proficiency': 'NATIVE_OR_...
111  {'name': 'Anglais', 'proficiency': 'NATIVE_OR_...

[159 rows x 1 columns]

In [ ]:
# exploding columns with dictionaries 
'languages', 'publications', 'certifications', 'volunteer', 'honors', 'projects', 

profiles_experience=pd.concat([profiles, 
pd.DataFrame(profiles['experience1'].apply(pd.Series)).add_prefix('exp1_'), 
pd.DataFrame(profiles['experience2'].apply(pd.Series)).add_prefix('exp2_'), 
pd.DataFrame(profiles['experience3'].apply(pd.Series)).add_prefix('exp3_'), 
pd.DataFrame(profiles['experience4'].apply(pd.Series)).add_prefix('exp4_'), 
pd.DataFrame(profiles['experience5'].apply(pd.Series)).add_prefix('exp5_')], 
axis=1).reset_index(drop=True)

In [102]:
data.reset_index(inplace=True)

In [103]:
data.rename(columns={"index":"ID"}, inplace=True)

In [104]:
data.head(2)

,ID,geoCountryName,geoLocationName,summary,industryName,headline,languages,publications,certifications,volunteer,...,ed2_degreeName,ed2_activities,ed2_description,ed2_startDate_year,ed3_degreeName,ed3_schoolName,ed3_fieldOfStudy,ed3_description,ed3_activities,ed3_startDate_year
0,0,France,Paris Metropolitan Region,Antoine croit à l’intelligence de tous et à la...,IT Services and IT Consulting,"Directeur associé de bluenove, initiateur du m...","[{'name': 'English', 'proficiency': 'FULL_PROF...","[{'date': {'month': 9, 'year': 2017, 'day': 1}...",[],[],...,NaN,NaN,NaN,1996.0,Baccalauréat,Lycée Kernanec,Economics,NaN,NaN,1993.0
1,1,France,Paris Metropolitan Region,French Entrepreneur - Founder and Managing Par...,Venture Capital and Private Equity Principals,Founder & Managing Partner at ROCH Ventures,[],[],[],[],...,NaN,NaN,NaN,2005.0,Baccalauréat,Lycée Janson-de-Sailly,Sciences Economiques et Sociales Option Anglais,NaN,NaN,1998.0

In [105]:
data.shape

(159, 83)

### Dropping columns with too many missing values

In [106]:
nullvalues=pd.DataFrame(data.isna().sum().sort_values(ascending=False))

In [107]:
nullvalues.head(10)

                      0
ed3_activities      145
ed2_activities      142
ed1_activities      129
ed3_description     123
ed2_description     118
ed1_description     111
exp2_endDate_month   81
exp2_endDate_year    80
ed3_fieldOfStudy     78
ed3_degreeName       62

In [108]:
#columns= data.columns()
columnstodrop=[i for i in data.columns if data[i].isna().sum() > len(data)/2+10]
data.drop(columns=columnstodrop, inplace=True)

### Fixing column-specific issues

In [109]:
import re
def clean_industry(x):
    x=str(x)
    pattern = "[a-zA-Z]+ [a-zA-Z]+|[a-zA-Z]+"
    a= re.findall(pattern, x)
    a= ' '.join(a)
    return a

In [110]:
industry_cols= [i for i in data.columns if '_industry' in i]
for col in industry_cols:
    data[col]=data[col].apply(clean_industry)

In [111]:
data.exp1_industry.value_counts()

Computer Software                      19
Information Technology and Services    17
nan                                    16
Civic Social Organization              13
Government Administration              12
Management Consulting                   8
Higher Education                        8
Research                                7
Nonprofit Organization Management       5
International Affairs                   4
Public Relations and Communications     3
Leisure Travel Tourism                  3
Venture Capital Private Equity          3
Banking                                 3
Internet                                3
Think Tanks                             2
Marketing and Advertising               2
Renewables Environment                  2
Online Media                            2
Performing Arts                         2
Insurance                               1
Telecommunications                      1
Restaurants                             1
Fine Art                                1
Security and Investigations             1
Professional Training Coaching          1
Computer Network Security               1
Architecture Planning                   1
Design                                  1
Farming                                 1
Investment Banking                      1
Environmental Services                  1
Real Estate                             1
Human Resources                         1
Chemicals                               1
Hospital Health Care                    1
Market Research                         1
Retail                                  1
Information Services                    1
Pharmaceuticals                         1
Education Management                    1
Government Relations                    1
Civil Engineering                       1
Graphic Design                          1
Political Organization                  1
Name: exp1_industry, dtype: int64

In [91]:
# At some point, fix columns for years stored as floats
year_cols=[i for i in data.columns if 'year' in i]
year_cols

['exp1_startDate_year',
 'exp2_startDate_year',
 'exp2_endDate_year',
 'exp3_startDate_year',
 'exp3_endDate_year',
 'exp4_startDate_year',
 'exp4_endDate_year',
 'exp5_startDate_year',
 'exp5_endDate_year',
 'ed1_startDate_year',
 'ed2_startDate_year',
 'ed3_startDate_year']

In [121]:
data.describe()

,ID,exp1_startDate_month,exp1_startDate_year,exp1_company_empl_low,exp1_company_empl_high,exp2_startDate_month,exp2_startDate_year,exp2_endDate_month,exp2_endDate_year,exp2_company_empl_low,...,exp4_company_empl_high,exp5_startDate_month,exp5_startDate_year,exp5_endDate_month,exp5_endDate_year,exp5_company_empl_low,exp5_company_empl_high,ed1_startDate_year,ed2_startDate_year,ed3_startDate_year
count,159.000000,147.000000,154.000000,142.000000,134.000000,150.000000,153.000000,78.000000,79.000000,142.000000,...,134.000000,128.000000,142.000000,124.000000,137.000000,142.000000,134.000000,146.000000,127.000000,102.000000
mean,45.893082,5.510204,2019.227273,905.647887,1132.626866,6.066667,2018.084967,6.589744,2019.924051,905.647887,...,1132.626866,5.835938,2013.345070,7.024194,2015.182482,905.647887,1132.626866,2008.404110,2008.645669,2006.676471
std,31.890356,3.533339,3.822060,2423.203694,2395.242241,3.575957,3.963564,3.697791,2.894611,2423.203694,...,2395.242241,3.286281,6.152951,3.196705,5.766561,2423.203694,2395.242241,9.574088,8.176163,8.662154
min,0.000000,1.000000,2002.000000,0.000000,1.000000,1.000000,2001.000000,1.000000,2007.000000,0.000000,...,1.000000,1.000000,1975.000000,1.000000,1978.000000,0.000000,1.000000,1968.000000,1983.000000,1982.000000
25%,19.500000,2.000000,2018.000000,2.000000,10.000000,3.000000,2017.000000,4.000000,2018.500000,2.000000,...,10.000000,3.000000,2011.000000,5.000000,2013.000000,2.000000,10.000000,2003.000000,2003.000000,2002.000000
50%,39.000000,5.000000,2020.000000,11.000000,50.000000,6.000000,2019.000000,7.000000,2021.000000,11.000000,...,50.000000,6.000000,2014.500000,7.000000,2016.000000,11.000000,50.000000,2010.000000,2011.000000,2009.000000
75%,71.500000,9.000000,2022.000000,501.000000,500.000000,9.000000,2021.000000,9.000000,2022.000000,501.000000,...,500.000000,9.000000,2017.000000,9.250000,2019.000000,501.000000,500.000000,2015.000000,2015.000000,2013.000000
max,111.000000,12.000000,2023.000000,10001.000000,10000.000000,12.000000,2023.000000,12.000000,2023.000000,10001.000000,...,10000.000000,12.000000,2021.000000,12.000000,2023.000000,10001.000000,10000.000000,2023.000000,2022.000000,2023.000000

### dropping repeated columns

In [139]:
data["exp1_company_empl_high"].loc[data["exp1_company_empl_low"]> 10000]
data.exp1_company_empl_low.value_counts(dropna=False)
# the low and high columns are repeated, we are keeping only the low one
# (because the high one is a fake NaN when the low one is over 10 001)

47    NaN
53    NaN
59    NaN
71    NaN
108   NaN
124   NaN
138   NaN
145   NaN
Name: exp1_company_empl_high, dtype: float64

In [143]:
high_cols=[i for i in data.columns if 'high' in i]
data.drop(columns=high_cols, inplace=True)

### Drop duplicates in rows

In [156]:
mask = data.duplicated(subset=['headline'], keep='last')
dropped = data.loc[mask]
dropped

,ID,geoCountryName,geoLocationName,summary,industryName,headline,languages,publications,certifications,volunteer,...,ed1_fieldOfStudy,ed1_startDate_year,ed2_schoolName,ed2_fieldOfStudy,ed2_degreeName,ed2_startDate_year,ed3_degreeName,ed3_schoolName,ed3_fieldOfStudy,ed3_startDate_year
1,1,France,Paris Metropolitan Region,French Entrepreneur - Founder and Managing Par...,Venture Capital and Private Equity Principals,Founder & Managing Partner at ROCH Ventures,[],[],[],[],...,Relations Internationales et Sciences Politiques,2006.0,The Hebrew University,Relations et affaires internationales,NaN,2005.0,Baccalauréat,Lycée Janson-de-Sailly,Sciences Economiques et Sociales Option Anglais,1998.0
2,2,France,Paris Metropolitan Region,Inspired by the power we can build to change t...,Civic and Social Organizations,Co-director Multitudes Foundation - Activist a...,"[{'name': 'Anglais', 'proficiency': 'NATIVE_OR...","[{'date': {'month': 1, 'year': 2021, 'day': 21...",[],"[{'role': 'Co-Founder', 'companyName': 'Collec...",...,Communication orale et rhétorique,2022.0,Investies,Political sciences and government,Training program to prepare women to political...,2020.0,Public narrative,Leading change network - Marshall Ganz,Leadership organisationnel,2020.0
10,10,France,Paris Metropolitan Region,⇒ Rendez-vous sur jerem.io pour télécharger mo...,"Technology, Information and Internet",💡 Senior Product Designer freelance - U​X/U​I ...,"[{'name': 'English', 'proficiency': 'FULL_PROF...",[],[],[],...,Conception de Produits Industriels,NaN,Lycée de Montgeron,Génie Mécanique,BAC STI,NaN,NaN,NaN,NaN,NaN

In [157]:
data.drop_duplicates(subset=['headline'], keep='last', inplace=True)

### Make dataframe with described dataset (modes, counts...)

In [159]:
general_pop_data= pd.DataFrame(data.describe(include="O").T)

In [160]:
general_pop_data.to_csv("general_pop_data.csv", sep=';')

In [163]:
pd.options.display.max_rows = 100
data.head(5).T

,0,3,4,5,6
ID,0,3,4,5,6
geoCountryName,France,France,France,France,France
geoLocationName,Paris Metropolitan Region,Paris Metropolitan Region,Paris Metropolitan Region,Paris Metropolitan Region,Paris Metropolitan Region
summary,Antoine croit à l’intelligence de tous et à la...,"IT Consultant, Technical Expert, Lead develope...",NaN,People Power,16+ years of experience driving change in the ...
industryName,IT Services and IT Consulting,IT Services and IT Consulting,IT Services and IT Consulting,Civic and Social Organizations,IT Services and IT Consulting
headline,"Directeur associé de bluenove, initiateur du m...",Web expert chez Jolicode,Directrice des opérations chez Cap Collectif,"Regional Director (France, Italy, Russia and S...",Co-founder & CEO @Fluicity 💡 Co-founder Associ...
languages,"[{'name': 'English', 'proficiency': 'FULL_PROF...",[{'name': 'Anglais'}],[],"[{'name': 'Anglais', 'proficiency': 'FULL_PROF...","[{'name': 'Arabic', 'proficiency': 'LIMITED_WO..."
publications,"[{'date': {'month': 9, 'year': 2017, 'day': 1}...","[{'date': {'month': 2, 'year': 2015, 'day': 3}...",[],[],"[{'date': {'month': 3, 'year': 2023, 'day': 28..."
certifications,[],[],[],[],[]
volunteer,[],[],"[{'role': 'Administratrice', 'companyName': 'L...","[{'role': 'Volunteer', 'companyName': 'Samu So...","[{'role': 'Board Member', 'companyName': 'BeCo..."
honors,[],[],[],[],[{'description': 'Innovators Under 35 is the l...
projects,[],[{'members': [{'member': {'firstName': 'Bastie...,[{'members': [{'member': {'firstName': 'Coline...,[{'members': [{'member': {'firstName': 'Aminat...,[]
exp1_locationName,Paris Metropolitan Region,NaN,NaN,Paris Metropolitan Region,Paris Metropolitan Region
exp1_companyName,bluenove,jolicode,cap collectif,change.org,fluicity
exp1_description,Bluenove accompagne la transformation positive...,I co-created JoliCode in march 2012 in order t...,"Pilotage des activités des pôles conseil, comm...",NaN,Fluicity provides government agencies with col...
exp1_title,Directeur associé,Web expert,Directrice des opérations,"Regional Director( France, Italy, Russia, Spain)",Co-Founder & CEO
exp1_startDate_month,11.0,3.0,3.0,9.0,1.0
exp1_startDate_year,2017.0,2012.0,2022.0,2022.0,2015.0
exp1_industry,Management Consulting,nan,Computer Software,Internet,Information Technology and Services
exp1_company_empl_low,11.0,NaN,11.0,201.0,2.0
exp2_locationName,NaN,NaN,NaN,Paris Metropolitan Region,"Istanbul, Dubai"
exp2_companyName,démocratie ouverte,clever age,cap collectif,maison bonnemuse,google
exp2_description,NaN,"Expert PHP : audit, performance, méthodologie ...","Key figures : 250 clients / 2,5 M€ CA / 30 ETP...",Sustainable and inclusive jumpsuits that tell ...,Responsibilities:\n- Drive platforms revenue g...
exp2_title,Membre du Comité d'Orientation Stratégique,Consultant Expert PHP,Directrice du développement commercial,Founder,"Regional Sales Manager, Media Platforms, MENA ..."
exp2_startDate_month,7.0,9.0,2.0,10.0,11.0
exp2_startDate_year,2021.0,2009.0,2017.0,2020.0,2012.0
exp2_endDate_month,NaN,1.0,3.0,NaN,7.0
exp2_endDate_year,NaN,2012.0,2022.0,NaN,2015.0
exp2_industry,Management Consulting,nan,Computer Software,Internet,Information Technology and Services
exp2_company_empl_low,11.0,NaN,11.0,201.0,2.0
exp3_locationName,Paris Metropolitan Region,NaN,Paris Metropolitan Region,Paris Metropolitan Region,Paris Metropolitan Region
exp3_companyName,apm - association progrès du management,solution interactive,animafac,change.org,google
exp3_title,Expert,Lead developer,Déléguée générale,"Director, France and Campaigns Support","Senior Sales Manager, Media Platforms, Emergin..."
exp3_description,NaN,NaN,Pilotage du projet associatif et des plaidoyer...,NaN,Responsibilities:\n- Build and execute market ...
exp3_startDate_month,1.0,6.0,9.0,9.0,9.0
exp3_startDate_year,2017.0,2006.0,2012.0,2021.0,2010.0
exp3_endDate_month,NaN,9.0,1.0,10.0,12.0
exp3_endDate_year,NaN,2009.0,2017.0,2022.0,2012.0
exp3_industry,Management Consulting,nan,Computer Software,Internet,Information Technology and Services
exp3_company_empl_low,11.0,NaN,11.0,201.0,2.0
exp4_locationName,Paris Metropolitan Region,NaN,Paris Metropolitan Region,Paris Metropolitan Region,"Abu Dhabi, United Arab Emirates"
exp4_companyName,démocratie ouverte,NaN,animafac,change.org,unfair magazine
exp4_description,Démocratie Ouverte est un collectif citoyen in...,NaN,NaN,Senior campaigner in charge of looking ahead a...,Launched and established the first Abu Dhabi b...
exp4_title,Co-Président,NaN,Directrice administrative et financière,Senior Campaigner,Managing Director
exp4_startDate_month,1.0,NaN,10.0,5.0,1.0
exp4_startDate_year,2018.0,NaN,2009.0,2018.0,2009.0
exp4_endDate_month,5.0,NaN,9.0,12.0,9.0
exp4_endDate_year,2020.0,NaN,2012.0,2020.0,2010.0
exp4_industry,Management Consulting,nan,Computer Software,Internet,Information Technology and Services
exp4_company_empl_low,11.0,NaN,11.0,201.0,2.0
exp5_locationName,Paris Metropolitan Region,NaN,NaN,Paris Metropolitan Region,"Dubai, United Arab Emirates"
exp5_companyName,dassault systèmes,NaN,mairie de paris,change.org,bbc news
exp5_description,Netvibes provides Dashboard Intelligence ~ tra...,NaN,NaN,NaN,Responsibilities:\n- Produce Middle East Busin...
exp5_title,"Senior Director, Strategic Business Development",NaN,Chargée de mission auprès du chef de cabinet d...,Campaigner,Producer
exp5_startDate_month,2.0,NaN,NaN,5.0,8.0
exp5_startDate_year,2013.0,NaN,2008.0,2017.0,2008.0
exp5_endDate_month,10.0,NaN,NaN,5.0,12.0
exp5_endDate_year,2017.0,NaN,2009.0,2018.0,2008.0
exp5_industry,Management Consulting,nan,Computer Software,Internet,Information Technology and Services
exp5_company_empl_low,11.0,NaN,11.0,201.0,2.0
ed1_degreeName,Master,Master informatique,Master 2,Master's 2 Degree Marketing & Strategy - Inte...,Masters Degree
ed1_schoolName,ESCP Europe,Université Bordeaux I,Université Paris 1 Panthéon-Sorbonne,Université Paris Dauphine,Université libre de Bruxelles
ed1_fieldOfStudy,Business/Managerial Economics,Architecture logicielle distribuée,Sciences politiques,NaN,Written & Audiovisual Journalism
ed1_startDate_year,1998.0,2004.0,2005.0,2014.0,2004.0
ed2_schoolName,Prépa Saint Jean de Douai,NaN,Université Lille 2 Droit et Santé,Université Sorbonne Nouvelle (Paris III),Harvard Kennedy School
ed2_fieldOfStudy,NaN,NaN,Droit,NaN,Political Science and Government
ed2_degreeName,NaN,NaN,Licence,Postgraduate master’s degree in Information an...,Creating Collaborative Solutions
ed2_startDate_year,1996.0,NaN,2002.0,2009.0,2017.0
ed3_degreeName,Baccalauréat,NaN,NaN,Bachelor's degree,9 weeks full stack bootcamp
ed3_schoolName,Lycée Kernanec,NaN,NaN,Université de Sherbrooke / Sherbrooke University,Le Wagon
ed3_fieldOfStudy,Economics,NaN,NaN,"Communication, rédaction et multimédia",Computer Science
ed3_startDate_year,1993.0,NaN,NaN,2011.0,2014.0

### Exporting our dataset

In [164]:
data.shape

(156, 72)

In [165]:
data.to_csv("dataset.csv", sep=';', index=False)