## Importing information

In [1]:
import pandas as pd
import json
import numpy as np
import os

In [2]:
def create_profile(x, url):
    with open(str(url)+str(x)) as f:
        dict1 = json.load(f)
    list_col= ['experience', 'education', 'languages','languages','publications', 'certifications','volunteer', 'honors', 'projects']
    for n in list_col:
        if n in dict1:
            for i in range(len(dict1[n])): 
                dict1[str(n+str(i+1))]= dict1[n][i]
    data = pd.DataFrame.from_dict(dict1, orient='index').T
    return data

In [3]:
file_list = [f for f in os.listdir('../data/jsons') if f.endswith(".json")]
len(file_list)

49

In [4]:
initial_profile=create_profile('brachetantoine.json', '../data/jsons/')

In [5]:
profiles = initial_profile
for i in file_list:
    a= create_profile(i, '../data/jsons/')
    profiles= pd.concat((profiles,a),axis=0)

In [6]:
file_list2 = [f for f in os.listdir('../data/jsons2') if f.endswith(".json")]
len(file_list2)

124

In [7]:
profiles2 = initial_profile
for i in file_list2:
    a= create_profile(i,'../data/jsons2/')
    profiles2= pd.concat((profiles2,a),axis=0)

In [8]:
data=pd.concat([profiles, profiles2]).reset_index(drop=True)
data.head(2)

,summary,industryName,lastName,student,geoCountryName,geoCountryUrn,geoLocationBackfilled,elt,industryUrn,firstName,...,publications9,publications10,maidenName,projects8,certifications5,certifications6,certifications7,certifications8,certifications9,certifications10
0,Antoine croit √† l‚Äôintelligence de tous et √† la...,IT Services and IT Consulting,Brachet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,Antoine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,French Entrepreneur - Founder and Managing Par...,Venture Capital and Private Equity Principals,Demri,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:106,Bobby,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Initial dataset cleaning

In [9]:
data.shape

(173, 89)

In [10]:
print(list(data.columns))

['summary', 'industryName', 'lastName', 'student', 'geoCountryName', 'geoCountryUrn', 'geoLocationBackfilled', 'elt', 'industryUrn', 'firstName', 'entityUrn', 'geoLocation', 'geoLocationName', 'location', 'headline', 'displayPictureUrl', 'img_100_100', 'img_200_200', 'img_400_400', 'img_800_800', 'profile_id', 'profile_urn', 'member_urn', 'public_id', 'experience', 'education', 'languages', 'publications', 'certifications', 'volunteer', 'honors', 'projects', 'experience1', 'experience2', 'experience3', 'experience4', 'experience5', 'education1', 'education2', 'education3', 'languages1', 'languages2', 'languages3', 'publications1', 'publications2', 'publications3', 'publications4', 'publications5', 'publications6', 'publications7', 'publications8', 'locationName', 'honors1', 'honors2', 'honors3', 'honors4', 'honors5', 'honors6', 'honors7', 'volunteer1', 'volunteer2', 'volunteer3', 'projects1', 'projects2', 'projects3', 'birthDate', 'languages4', 'projects4', 'projects5', 'address', 'languages5', 'languages6', 'certifications1', 'projects6', 'projects7', 'certifications2', 'certifications3', 'certifications4', 'languages7', 'publications9', 'publications10', 'maidenName', 'projects8', 'certifications5', 'certifications6', 'certifications7', 'certifications8', 'certifications9', 'certifications10']

### Drop duplicates in rows

In [17]:
mask = data.duplicated(subset=['headline', 'firstName', 'lastName'], keep='first')
dropped = data.loc[mask]
dropped

,summary,industryName,lastName,student,geoCountryName,geoCountryUrn,geoLocationBackfilled,elt,industryUrn,firstName,...,publications9,publications10,maidenName,projects8,certifications5,certifications6,certifications7,certifications8,certifications9,certifications10
3,Antoine croit √† l‚Äôintelligence de tous et √† la...,IT Services and IT Consulting,Brachet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,Antoine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Antoine croit √† l‚Äôintelligence de tous et √† la...,IT Services and IT Consulting,Brachet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,Antoine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,French Entrepreneur - Founder and Managing Par...,Venture Capital and Private Equity Principals,Demri,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:106,Bobby,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Inspired by the power we can build to change t...,Civic and Social Organizations,Durieux,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:90,Sarah,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,Internet,Paret,False,France,urn:li:fs_geo:105015875,False,True,urn:li:fs_industry:6,Jeremie,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data.drop_duplicates(subset=['headline', 'firstName', 'lastName'], keep='first', inplace=True)

### Dropping unnecessary columns (specific to LIn, personal information, etc.)

In [19]:
pd.options.display.max_rows = 100

In [20]:
todrop=['industryName', 'experience', 'education', 'languages','languages','publications', 
        'certifications','volunteer', 'honors', 'projects', 
        'displayPictureUrl', 'img_100_100', 'img_200_200', 'img_400_400', 
        'img_800_800', 'student', 'maidenName', 'birthDate', 
        'address','geoCountryUrn', 'geoLocationBackfilled', 'elt', 'industryUrn',
        'entityUrn', 'geoLocation', 'location', 'locationName', 
        'profile_id', 'profile_urn', 'member_urn', 'public_id']
data.drop(columns=todrop, inplace=True)

In [21]:
data.describe().T.sort_index()

,count,unique,top,freq
certifications1,42,42,{'name': 'Psychology'},1
certifications10,3,3,"{'authority': 'LinkedIn', 'name': 'Project Man...",1
certifications2,21,21,"{'authority': 'OpenClassrooms', 'name': 'Learn...",1
certifications3,12,12,"{'authority': 'COLIBRIS', 'name': 'Quelle d√©mo...",1
certifications4,7,7,"{'authority': 'A Cloud Guru', 'name': 'Introdu...",1
certifications5,6,6,"{'authority': 'Google', 'name': 'Google Ads Ce...",1
certifications6,6,6,"{'authority': 'Google', 'name': 'Certification...",1
certifications7,6,6,"{'authority': 'HubSpot', 'name': 'Hubspot Inbo...",1
certifications8,4,4,"{'authority': 'LinkedIn', 'name': 'Become an H...",1
certifications9,4,4,"{'authority': 'ETS Global', 'name': 'TOEIC', '...",1
education1,161,161,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,1
education2,145,145,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,1
education3,120,120,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,1
experience1,167,167,"{'locationName': 'Paris Area, France', 'entity...",1
experience2,162,162,{'entityUrn': 'urn:li:fs_position:(ACoAAAA615E...,1
experience3,161,161,"{'locationName': 'Paris', 'entityUrn': 'urn:li...",1
experience4,157,157,"{'locationName': 'Paris Area, France', 'entity...",1
experience5,150,150,"{'locationName': 'Paris', 'entityUrn': 'urn:li...",1
firstName,168,123,Nicolas,6
geoCountryName,166,3,France,159
geoLocationName,141,37,"Paris, √éle-de-France",58
headline,167,167,"Directeur associ√© de bluenove, initiateur du m...",1
honors1,31,31,{'description': 'THE WEBBY AWARDS IS THE LEADI...,1
honors2,20,20,{'description': 'The leading international awa...,1
honors3,11,11,{'description': 'Eurobest is the world's pre-e...,1
honors4,9,9,{'description': 'The London International Awar...,1
honors5,7,7,{'description': 'Le Grand Prix de l‚ÄôInnovation...,1
honors6,6,6,{'description': 'The Cannes Lions Internationa...,1
honors7,2,2,{'description': 'The Cannes Lions Internationa...,1
languages1,118,32,"{'name': 'English', 'proficiency': 'FULL_PROFE...",19
languages2,109,32,"{'name': 'French', 'proficiency': 'NATIVE_OR_B...",28
languages3,93,43,"{'name': 'Fran√ßais', 'proficiency': 'NATIVE_OR...",32
languages4,49,34,"{'name': 'Fran√ßais', 'proficiency': 'NATIVE_OR...",8
languages5,22,17,"{'name': 'Espagnol', 'proficiency': 'FULL_PROF...",2
languages6,7,7,"{'name': 'Spanish', 'proficiency': 'ELEMENTARY'}",1
languages7,2,2,"{'name': 'Italien', 'proficiency': 'ELEMENTARY'}",1
lastName,168,154,Coutant,2
projects1,48,48,{'members': [{'member': {'firstName': 'Bastien...,1
projects2,31,31,{'members': [{'member': {'firstName': 'Bastien...,1
projects3,20,20,{'members': [{'member': {'firstName': 'Coline'...,1
projects4,14,14,{'occupation': 'urn:li:fs_position:(ACoAAABaH0...,1
projects5,10,10,{'occupation': 'urn:li:fs_position:(ACoAAABaH0...,1
projects6,4,4,{'occupation': 'urn:li:fs_position:(ACoAAAfEoR...,1
projects7,4,4,{'occupation': 'urn:li:fs_position:(ACoAAAfEoR...,1
projects8,1,1,{'occupation': 'urn:li:fs_position:(ACoAAAMqDL...,1
publications1,63,63,"{'date': {'month': 9, 'year': 2017, 'day': 1},...",1
publications10,13,13,"{'date': {'year': 2012}, 'name': '""Les Politiq...",1
publications2,46,46,"{'date': {'month': 3, 'year': 2016, 'day': 1},...",1
publications3,38,38,"{'date': {'month': 6, 'year': 2014, 'day': 30}...",1
publications4,37,37,"{'date': {'month': 6, 'year': 2014, 'day': 11}...",1
publications5,28,28,"{'date': {'month': 4, 'year': 2014, 'day': 22}...",1
publications6,25,25,"{'date': {'month': 9, 'year': 2006, 'day': 25}...",1
publications7,21,21,{'name': 'Mes Contributions dans le Huffington...,1
publications8,18,18,{'name': 'Mes contributions dans lePlus de l'O...,1
publications9,16,16,"{'date': {'year': 2013}, 'name': 'Qu√© Politica...",1
summary,108,108,Antoine croit √† l‚Äôintelligence de tous et √† la...,1
volunteer1,75,75,"{'role': 'Co-Founder', 'companyName': 'Collect...",1
volunteer2,63,63,"{'role': 'Board Member', 'companyName': 'Empow...",1
volunteer3,43,43,"{'role': 'Co-founder', 'companyName': 'Rencont...",1

### Exploding columns

In [16]:
# there must be a more functional way to do what is happening below
# but i'm too tired :)

In [22]:
for i in range (1,4): 
    data=pd.concat([data, 
    pd.DataFrame(data['education'+str(i)].apply(pd.Series)).add_prefix('ed_'+str(i)), 
    pd.DataFrame(data['volunteer'+str(i)].apply(pd.Series)).add_prefix('vol_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns=['education'+str(i),'volunteer'+str(i)], inplace=True)

In [23]:
for i in range (1,6): 
    data=pd.concat([data, 
    pd.DataFrame(data['experience'+str(i)].apply(pd.Series)).add_prefix('exp_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns='experience'+str(i), inplace=True)

In [24]:
for i in range (1,8): 
    data=pd.concat([data, 
    pd.DataFrame(data['honors'+str(i)].apply(pd.Series)).add_prefix('hon_'+str(i)), 
    pd.DataFrame(data['languages'+str(i)].apply(pd.Series)).add_prefix('lang_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns=['honors'+str(i),'languages'+str(i)], inplace=True)

In [25]:
for i in range (1,9): 
    data=pd.concat([data, 
    pd.DataFrame(data['projects'+str(i)].apply(pd.Series)).add_prefix('proj_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns='projects'+str(i), inplace=True)

In [26]:
for i in range (1,11): 
    data=pd.concat([data, 
    pd.DataFrame(data['certifications'+str(i)].apply(pd.Series)).add_prefix('cert_'+str(i)), 
    pd.DataFrame(data['publications'+str(i)].apply(pd.Series)).add_prefix('pub_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns=['certifications'+str(i),'publications'+str(i)], inplace=True)

In [28]:
list_columns=[i for i in data.columns if ("Urn" in i or "Logo" in i or "_region" in i or '_abuse' in i or '_geo' in i or '_proj' in i or '_organi' in i or '_0' in i)]
#to check before dropping 
data[list_columns].T
data.drop(columns=list_columns, inplace=True)

### We seem to still have duplicates

In [42]:
print(sorted(list(data.lastName.str.lower())))

['albet', 'alemanno', 'ami', 'andr√©', 'arrouard', 'auclair', 'auclair', 'baillot', 'banzet', 'barbaut', 'barbero', 'barbier', 'barre', 'bauquet', 'behar', 'behar', 'benkirane', 'bensa', 'berenguer-moncada', 'bertrand', 'bertrand', 'bessoles', 'besson', 'besson', 'bianchin-fabre', 'bloch', 'bouch√©', 'boudehen', 'bourlitio', 'brachet', 'briante guillemont', 'buchotte', 'b√©zard', 'canivet', 'chadenet', 'chaput', 'chatellier', 'chaygneaud-dupuy', 'chevallereau', 'choisne', 'claret', 'cochin', 'colas', 'colas', 'colombe', 'combaz', 'coudard', 'coutant', 'coutant', 'd', 'd.', 'daniel', 'daniel', 'dardier', 'dauchez', 'de bodman', 'de briey', 'de marignan', 'de pimodan', 'de roquefeuil', 'de royer', 'de sousa', 'de sousa', 'deffrennes', 'deleris', 'deleris', 'dembele', 'demri', 'demri', 'dernoncourt', 'des gachons', 'desmaison', 'deville', 'diguet', 'dubreuil', 'dubreuil', 'duguet', 'duperthuy', 'durieux', 'duriez', 'duriez', 'duval', 'd√©sigaud', 'd√©sigaud', 'escoubes', 'eve', 'forest', 'fox', 'fran√ßois', 'gabadou santiago', 'gaboriau', 'garnier-nguyen', 'gautier', 'gille', 'gilles', 'gombert', 'goujon', 'gresset', 'grunelius', 'guimas', 'hanson', 'haro', 'jachiet', 'jaillot', 'japiot', 'kergall', 'kergall', 'kleck casalegno', 'kumpf', 'l.', 'l.', 'lacot', 'lage', 'larroque', 'lavayssi√®re', 'le botlan', 'le masne', 'le roux', 'le roux', 'lecourtois', 'legros', 'legros', 'lenoir', 'lenoir', 'levoir', 'levoir', 'liot', 'mabi', 'marchandise ', 'mateus', 'mcgrath-dehecq', 'medrinal', 'meiss', 'miailhe', 'monclaire', 'noury', 'pahud', 'paret', 'patte', 'pelissard', 'piekarski', 'pignal üåç', 'pleurmeau', 'pons', 'pouy√©', 'pulicani', 'p√®ne', 'reboux', 'richard', 'richer', 'rosado', 'roudaut', 'rozier', 'santiso', 'schlumberger', 'schwab', 'snow', 'sotiropoulou', 'stefani', 'teuli√©', 'tr√®ves', 'tr√®ves', 'van brussel', 'vanneroy', 'vaturi', 'vignolles', 'walbaum', 'zylberberg']

In [49]:
(data.loc[(data.lastName.str.lower()=="auclair")|(data.lastName.str.lower()=="behar")|(data.lastName.str.lower()=="bertrand")|(data.lastName.str.lower()=="besson")|(data.lastName.str.lower()=="colas")|(data.lastName.str.lower()=="coutant")|(data.lastName.str.lower()=="daniel")|(data.lastName.str.lower()=="de sousa")|(data.lastName.str.lower()=="deleris")|(data.lastName.str.lower()=="demri")|(data.lastName.str.lower()=="dubreuil")|(data.lastName.str.lower()=="duriez")|(data.lastName.str.lower()=="d√©sigaud")|(data.lastName.str.lower()=="kergall")|(data.lastName.str.lower()=="l.")|(data.lastName.str.lower()=="le roux")|(data.lastName.str.lower()=="legros")|(data.lastName.str.lower()=="lenoir")|(data.lastName.str.lower()=="levoir")|(data.lastName.str.lower()=="tr√®ves")])[["firstName", "lastName"]].sort_values(by="firstName")
data.drop(labels=[69, 121, 161, 82, 84, 93, 116,147,153,106,64,113,166,128,124,50,67,163, 150,157], axis=0, inplace=True)

### Dropping columns with too many missing values

In [29]:
a= list(data.columns)
a.sort()
data= data[a]

In [50]:
nullvalues=pd.DataFrame(data.isna().sum().sort_values(ascending=False))

In [52]:
print(list(nullvalues.index)[0:50])

['cert_10', 'cert_60', 'proj_40', 'proj_50', 'exp_20', 'proj_60', 'exp_10', 'proj_70', 'ed_30', 'cert_100', 'ed_20', 'pub_10', 'pub_100', 'pub_20', 'pub_30', 'pub_40', 'ed_10', 'cert_90', 'cert_80', 'proj_30', 'proj_20', 'proj_10', 'exp_50', 'hon_30', 'hon_40', 'hon_20', 'hon_50', 'hon_10', 'hon_60', 'hon_70', 'lang_10', 'exp_30', 'lang_20', 'lang_30', 'exp_40', 'lang_40', 'lang_50', 'lang_60', 'lang_70', 'cert_70', 'proj_80', 'cert_40', 'pub_70', 'vol_30', 'vol_20', 'pub_90', 'pub_80', 'cert_20', 'vol_10', 'cert_50']

In [53]:
data.shape

(148, 395)

In [60]:
data.reset_index(inplace=True)
data.set_index("index")

,cert_10,cert_100,cert_10authority,cert_10company,cert_10displaySource,cert_10licenseNumber,cert_10name,cert_10timePeriod,cert_10url,cert_1authority,...,vol_2description,vol_2role,vol_2timePeriod,vol_30,vol_3cause,vol_3company,vol_3companyName,vol_3description,vol_3role,vol_3timePeriod
index,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Empow‚Äôher supports women entrepreneurs so the...,Board Member,"{'endDate': {'month': 3, 'year': 2021}, 'start...",NaN,NaN,NaN,Rencontre des Justices,Rencontre des Justices is a grassroots movemen...,Co-founder,"{'endDate': {'month': 7, 'year': 2020}, 'start..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,√âlecteurs en herbe est un programme d'√©ducatio...,Pr√©sidente-fondatrice,"{'startDate': {'month': 7, 'year': 2016}}",NaN,NaN,{'miniCompany': {'objectUrn': 'urn:li:company:...,Viking Club Paris,NaN,Dirigeante - Coach de l'√©quipe f√©minine U11 - U13,"{'endDate': {'month': 6, 'year': 2021}, 'start..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Animateur d‚Äôateliers,"{'startDate': {'month': 9, 'year': 2018}}",NaN,EDUCATION,{'miniCompany': {'objectUrn': 'urn:li:company:...,Toi Aussi !,NaN,Animateur d‚Äôinterventions,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Minist√®re charg√© de l'√âducation nationale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,La mission de DemocracyOS France :\n- Accompag...,Membre et tr√©sori√®re,"{'endDate': {'month': 2, 'year': 2020}, 'start...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
columns= data.columns
columnstodrop=[i for i in data.columns if (data[i].isna().sum() > len(data)/2+10) or (i=="index")]
#data.drop(columns=columnstodrop, inplace=True)
print(columnstodrop)

add_data=data[["index", "lastName", "firstName"]]
add_data=add_data.merge(data[columnstodrop], how='left', on="index")
add_data.head()

['index', 'cert_10', 'cert_100', 'cert_10authority', 'cert_10company', 'cert_10displaySource', 'cert_10licenseNumber', 'cert_10name', 'cert_10timePeriod', 'cert_10url', 'cert_1authority', 'cert_1company', 'cert_1displaySource', 'cert_1licenseNumber', 'cert_1name', 'cert_1timePeriod', 'cert_1url', 'cert_20', 'cert_2authority', 'cert_2company', 'cert_2displaySource', 'cert_2licenseNumber', 'cert_2name', 'cert_2timePeriod', 'cert_2url', 'cert_30', 'cert_3authority', 'cert_3company', 'cert_3displaySource', 'cert_3licenseNumber', 'cert_3name', 'cert_3timePeriod', 'cert_3url', 'cert_40', 'cert_4authority', 'cert_4company', 'cert_4displaySource', 'cert_4licenseNumber', 'cert_4name', 'cert_4timePeriod', 'cert_4url', 'cert_50', 'cert_5authority', 'cert_5company', 'cert_5displaySource', 'cert_5licenseNumber', 'cert_5name', 'cert_5timePeriod', 'cert_5url', 'cert_60', 'cert_6authority', 'cert_6company', 'cert_6displaySource', 'cert_6licenseNumber', 'cert_6name', 'cert_6timePeriod', 'cert_6url', 'cert_70', 'cert_7authority', 'cert_7company', 'cert_7displaySource', 'cert_7licenseNumber', 'cert_7name', 'cert_7timePeriod', 'cert_7url', 'cert_80', 'cert_8authority', 'cert_8company', 'cert_8displaySource', 'cert_8licenseNumber', 'cert_8name', 'cert_8timePeriod', 'cert_8url', 'cert_90', 'cert_9authority', 'cert_9company', 'cert_9displaySource', 'cert_9licenseNumber', 'cert_9name', 'cert_9timePeriod', 'cert_9url', 'ed_10', 'ed_1activities', 'ed_1courses', 'ed_1description', 'ed_1grade', 'ed_1honors', 'ed_1projects', 'ed_20', 'ed_2activities', 'ed_2courses', 'ed_2description', 'ed_2grade', 'ed_2honors', 'ed_2projects', 'ed_30', 'ed_3activities', 'ed_3courses', 'ed_3description', 'ed_3grade', 'ed_3honors', 'ed_3projects', 'exp_10', 'exp_1courses', 'exp_1honors', 'exp_1organizations', 'exp_1projects', 'exp_20', 'exp_2courses', 'exp_2honors', 'exp_2organizations', 'exp_2projects', 'exp_30', 'exp_3courses', 'exp_3honors', 'exp_3projects', 'exp_40', 'exp_4courses', 'exp_4honors', 'exp_4projects', 'exp_4region', 'exp_50', 'exp_5courses', 'exp_5honors', 'exp_5organizations', 'exp_5projects', 'hon_10', 'hon_1description', 'hon_1issueDate', 'hon_1issuer', 'hon_1occupation', 'hon_1title', 'hon_20', 'hon_2description', 'hon_2issueDate', 'hon_2issuer', 'hon_2occupation', 'hon_2title', 'hon_30', 'hon_3description', 'hon_3issueDate', 'hon_3issuer', 'hon_3occupation', 'hon_3title', 'hon_40', 'hon_4description', 'hon_4issueDate', 'hon_4issuer', 'hon_4occupation', 'hon_4title', 'hon_50', 'hon_5description', 'hon_5issueDate', 'hon_5issuer', 'hon_5occupation', 'hon_5title', 'hon_60', 'hon_6description', 'hon_6issueDate', 'hon_6issuer', 'hon_6occupation', 'hon_6title', 'hon_70', 'hon_7description', 'hon_7issueDate', 'hon_7issuer', 'hon_7occupation', 'hon_7title', 'lang_10', 'lang_20', 'lang_30', 'lang_40', 'lang_4name', 'lang_4proficiency', 'lang_50', 'lang_5name', 'lang_5proficiency', 'lang_60', 'lang_6name', 'lang_6proficiency', 'lang_70', 'lang_7name', 'lang_7proficiency', 'proj_10', 'proj_1description', 'proj_1members', 'proj_1occupation', 'proj_1timePeriod', 'proj_1title', 'proj_1url', 'proj_20', 'proj_2description', 'proj_2members', 'proj_2occupation', 'proj_2timePeriod', 'proj_2title', 'proj_2url', 'proj_30', 'proj_3description', 'proj_3members', 'proj_3occupation', 'proj_3timePeriod', 'proj_3title', 'proj_3url', 'proj_40', 'proj_4description', 'proj_4members', 'proj_4occupation', 'proj_4timePeriod', 'proj_4title', 'proj_4url', 'proj_50', 'proj_5description', 'proj_5members', 'proj_5occupation', 'proj_5timePeriod', 'proj_5title', 'proj_5url', 'proj_60', 'proj_6description', 'proj_6members', 'proj_6occupation', 'proj_6timePeriod', 'proj_6title', 'proj_6url', 'proj_70', 'proj_7description', 'proj_7members', 'proj_7occupation', 'proj_7timePeriod', 'proj_7title', 'proj_7url', 'proj_80', 'proj_8description', 'proj_8members', 'proj_8occupation', 'proj_8timePeriod', 'proj_8title', 'proj_8url', 'pub_10', 'pub_100', 'pub_10authors', 'pub_10date', 'pub_10description', 'pub_10name', 'pub_10publisher', 'pub_10url', 'pub_1authors', 'pub_1date', 'pub_1description', 'pub_1name', 'pub_1publisher', 'pub_1url', 'pub_20', 'pub_2authors', 'pub_2date', 'pub_2description', 'pub_2name', 'pub_2publisher', 'pub_2url', 'pub_30', 'pub_3authors', 'pub_3date', 'pub_3description', 'pub_3name', 'pub_3publisher', 'pub_3url', 'pub_40', 'pub_4authors', 'pub_4date', 'pub_4description', 'pub_4name', 'pub_4publisher', 'pub_4url', 'pub_50', 'pub_5authors', 'pub_5date', 'pub_5description', 'pub_5name', 'pub_5publisher', 'pub_5url', 'pub_60', 'pub_6authors', 'pub_6date', 'pub_6description', 'pub_6name', 'pub_6publisher', 'pub_6url', 'pub_70', 'pub_7authors', 'pub_7date', 'pub_7description', 'pub_7name', 'pub_7publisher', 'pub_7url', 'pub_80', 'pub_8authors', 'pub_8date', 'pub_8description', 'pub_8name', 'pub_8publisher', 'pub_8url', 'pub_90', 'pub_9authors', 'pub_9date', 'pub_9description', 'pub_9name', 'pub_9publisher', 'pub_9url', 'vol_10', 'vol_1cause', 'vol_1company', 'vol_1description', 'vol_20', 'vol_2cause', 'vol_2company', 'vol_2companyName', 'vol_2description', 'vol_2role', 'vol_2timePeriod', 'vol_30', 'vol_3cause', 'vol_3company', 'vol_3companyName', 'vol_3description', 'vol_3role', 'vol_3timePeriod']

,index,lastName,firstName,cert_10,cert_100,cert_10authority,cert_10company,cert_10displaySource,cert_10licenseNumber,cert_10name,...,vol_2description,vol_2role,vol_2timePeriod,vol_30,vol_3cause,vol_3company,vol_3companyName,vol_3description,vol_3role,vol_3timePeriod
0,0,Brachet,Antoine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Demri,Bobby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Durieux,Sarah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Empow‚Äôher supports women entrepreneurs so the...,Board Member,"{'endDate': {'month': 3, 'year': 2021}, 'start...",NaN,NaN,NaN,Rencontre des Justices,Rencontre des Justices is a grassroots movemen...,Co-founder,"{'endDate': {'month': 7, 'year': 2020}, 'start..."
3,3,Jaillot,Bastien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Vanneroy,Coline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,√âlecteurs en herbe est un programme d'√©ducatio...,Pr√©sidente-fondatrice,"{'startDate': {'month': 7, 'year': 2016}}",NaN,NaN,{'miniCompany': {'objectUrn': 'urn:li:company:...,Viking Club Paris,NaN,Dirigeante - Coach de l'√©quipe f√©minine U11 - U13,"{'endDate': {'month': 6, 'year': 2021}, 'start..."

In [73]:
add_data.to_csv("additional_data_low_response.csv", sep=';', index=True)

In [27]:
nullvalues=pd.DataFrame(data.isna().sum().sort_values(ascending=False))
nullvalues.head()

                   0
exp_2region       94
vol_1role         93
exp_3region       93
vol_1companyName  93
exp_1region       83

### Other recoding - could be improved

In [28]:
data.drop(columns=['ed_1school', 'ed_2school','ed_3school'], inplace=True)

#### Time columns could be split

In [29]:
timecols= [i for i in data.columns if "time" in i]
timecols

['ed_1timePeriod',
 'ed_2timePeriod',
 'ed_3timePeriod',
 'exp_1timePeriod',
 'exp_2timePeriod',
 'exp_3timePeriod',
 'exp_4timePeriod',
 'exp_5timePeriod']

In [30]:
#data.isna().sum()
data.fillna("[]", inplace=True)
# we are filling na with [] because special characters will be removed later on.

In [31]:
data.head(10)

,ed_1degreeName,ed_1fieldOfStudy,ed_1schoolName,ed_1timePeriod,ed_2degreeName,ed_2fieldOfStudy,ed_2schoolName,ed_2timePeriod,ed_3degreeName,ed_3fieldOfStudy,...,headline,lang_1name,lang_1proficiency,lang_2name,lang_2proficiency,lang_3name,lang_3proficiency,summary,vol_1companyName,vol_1role
0,Master informatique,Architecture logicielle distribu√©e,Universit√© Bordeaux I,"{'endDate': {'year': 2009}, 'startDate': {'yea...",[],[],[],[],[],[],...,Web expert chez Jolicode,Anglais,[],[],[],[],[],"IT Consultant, Technical Expert, Lead develope...",[],[]
1,Master 2,Sciences politiques,Universit√© Paris 1 Panth√©on-Sorbonne,"{'endDate': {'year': 2007}, 'startDate': {'yea...",Licence,Droit,Universit√© Lille 2 Droit et Sant√©,"{'endDate': {'year': 2005}, 'startDate': {'yea...",[],[],...,Directrice des op√©rations chez Cap Collectif,[],[],[],[],[],[],[],La Cravate Solidaire,Administratrice
2,Master's 2 Degree Marketing & Strategy - Inte...,[],Universit√© Paris Dauphine,"{'endDate': {'year': 2015}, 'startDate': {'yea...",Postgraduate master‚Äôs degree in Information an...,[],Universit√© Sorbonne Nouvelle (Paris III),"{'endDate': {'year': 2013}, 'startDate': {'yea...",Bachelor's degree,"Communication, r√©daction et multim√©dia",...,"Regional Director (France, Italy, Russia and S...",Anglais,FULL_PROFESSIONAL,Espagnol,LIMITED_WORKING,Fran√ßais,NATIVE_OR_BILINGUAL,People Power,Samu Social de Paris,Volunteer
3,Masters Degree,Written & Audiovisual Journalism,Universit√© libre de Bruxelles,"{'endDate': {'year': 2006}, 'startDate': {'yea...",Creating Collaborative Solutions,Political Science and Government,Harvard Kennedy School,"{'endDate': {'year': 2017}, 'startDate': {'yea...",9 weeks full stack bootcamp,Computer Science,...,Co-founder & CEO @Fluicity üí° Co-founder Associ...,Arabic,LIMITED_WORKING,English,[],French,NATIVE_OR_BILINGUAL,16+ years of experience driving change in the ...,BeCode.org,Board Member
4,"Master of management, organisations and govern...",[],The London School of Economics and Political S...,"{'endDate': {'year': 2009}, 'startDate': {'yea...",[],[],Institut National des Etudes Territoriales (INET),"{'endDate': {'year': 2011}, 'startDate': {'yea...",Master Affaires Publiques,[],...,Directrice g√©n√©rale adjointe chez Adie,Anglais,PROFESSIONAL_WORKING,Fran√ßais,NATIVE_OR_BILINGUAL,[],[],[],[],[]
5,MBA,Strategy,ESSEC - ESSEC Business School,"{'endDate': {'year': 2006}, 'startDate': {'yea...",Master of Business Administration (MBA),Strategy and organisation,ESSEC - ESSEC Business School,"{'endDate': {'year': 2006}, 'startDate': {'yea...",Master of Business Administration - MBA,[],...,Directeur Associ√© - Chief Revenue Officer (CRO...,[],[],[],[],[],[],"17 ans d'exp√©rience, intelligence collective, ...",[],[]
6,Master 2,Management des Ressources Humaines,"Pantheon ASSAS University, Paris","{'endDate': {'year': 2005}, 'startDate': {'yea...",[],[],[],[],[],[],...,CEO & Co-founder at Civocracy\n!We are hiring!,Chinese,PROFESSIONAL_WORKING,English,FULL_PROFESSIONAL,French,NATIVE_OR_BILINGUAL,After eight years of social entrepreneurship i...,[],[]
7,Masters,International Politics,Sciences Po Bordeaux,"{'endDate': {'year': 2010}, 'startDate': {'yea...",Social entrepreneurship summer training,"Business Administration and Management, General",University of Cambridge,"{'endDate': {'year': 2015}, 'startDate': {'yea...",Licenciatura,Ciencias Politicas y de la Administracion,...,#onrecrute - CEO de Voxe m√©dia-√©cole d'empower...,English,NATIVE_OR_BILINGUAL,French,NATIVE_OR_BILINGUAL,Spanish,NATIVE_OR_BILINGUAL,Experienced Chief Executive Officer with a dem...,Empow'Her,Mentor du programme Woman'Act
8,Dut SRC,[],Universit√© de Caen Basse Normandie,[],[],[],Universit√© du Maine-Le Mans-Laval,[],[],[],...,"Directeur Technique chez Monsieur SLOOP, ABCDE...",[],[],[],[],[],[],[],[],[]
9,Start-up Launchpad,Master of Digital Business,HEC Paris,"{'endDate': {'year': 2017}, 'startDate': {'yea...",Master's degree,Public affairs and management,Sciences Po Lille,"{'endDate': {'year': 2016}, 'startDate': {'yea...",Bachelor,Law,...,Belgium France @Sdui | Tech-For-Good Leader & ...,[],[],[],[],[],[],Drawing on 7 years of experience as a Team Lea...,Anacej,Vice-Pr√©sident

In [32]:
data.shape

(168, 62)

### Make dataframe with described dataset (modes, counts...) - not interesting if the dataframe is at this level of transformation

In [33]:
#data.describe().T
#general_pop_data= pd.DataFrame(data.describe(include="O").T)
#general_pop_data.to_csv("general_pop_data.csv", sep=';')

In [34]:
pd.options.display.max_rows = 100
data.head(5).T

,0,1,2,3,4
ed_1degreeName,Master informatique,Master 2,Master's 2 Degree Marketing & Strategy - Inte...,Masters Degree,"Master of management, organisations and govern..."
ed_1fieldOfStudy,Architecture logicielle distribu√©e,Sciences politiques,[],Written & Audiovisual Journalism,[]
ed_1schoolName,Universit√© Bordeaux I,Universit√© Paris 1 Panth√©on-Sorbonne,Universit√© Paris Dauphine,Universit√© libre de Bruxelles,The London School of Economics and Political S...
ed_1timePeriod,"{'endDate': {'year': 2009}, 'startDate': {'yea...","{'endDate': {'year': 2007}, 'startDate': {'yea...","{'endDate': {'year': 2015}, 'startDate': {'yea...","{'endDate': {'year': 2006}, 'startDate': {'yea...","{'endDate': {'year': 2009}, 'startDate': {'yea..."
ed_2degreeName,[],Licence,Postgraduate master‚Äôs degree in Information an...,Creating Collaborative Solutions,[]
ed_2fieldOfStudy,[],Droit,[],Political Science and Government,[]
ed_2schoolName,[],Universit√© Lille 2 Droit et Sant√©,Universit√© Sorbonne Nouvelle (Paris III),Harvard Kennedy School,Institut National des Etudes Territoriales (INET)
ed_2timePeriod,[],"{'endDate': {'year': 2005}, 'startDate': {'yea...","{'endDate': {'year': 2013}, 'startDate': {'yea...","{'endDate': {'year': 2017}, 'startDate': {'yea...","{'endDate': {'year': 2011}, 'startDate': {'yea..."
ed_3degreeName,[],[],Bachelor's degree,9 weeks full stack bootcamp,Master Affaires Publiques
ed_3fieldOfStudy,[],[],"Communication, r√©daction et multim√©dia",Computer Science,[]
ed_3schoolName,[],[],Universit√© de Sherbrooke / Sherbrooke University,Le Wagon,Sciences Po
ed_3timePeriod,[],[],"{'endDate': {'year': 2012}, 'startDate': {'yea...","{'endDate': {'year': 2014}, 'startDate': {'yea...","{'endDate': {'year': 2008}, 'startDate': {'yea..."
exp_1company,[],"{'employeeCountRange': {'start': 11, 'end': 50...","{'employeeCountRange': {'start': 201, 'end': 5...","{'employeeCountRange': {'start': 2, 'end': 10}...","{'employeeCountRange': {'start': 501, 'end': 1..."
exp_1companyName,Jolicode,Cap Collectif,Change.org,Fluicity,Adie
exp_1description,I co-created JoliCode in march 2012 in order t...,"Pilotage des activit√©s des p√¥les conseil, comm...",[],Fluicity provides government agencies with col...,[]
exp_1geoLocationName,[],[],"Paris, √éle-de-France, France","Paris Area, France",[]
exp_1locationName,[],[],"Paris, √éle-de-France, France","Paris Area, France",[]
exp_1region,[],[],"urn:li:fs_region:(fr,0)","urn:li:fs_region:(fr,5227)",[]
exp_1timePeriod,"{'startDate': {'month': 3, 'year': 2012}}","{'startDate': {'month': 3, 'year': 2022}}","{'startDate': {'month': 9, 'year': 2022}}","{'startDate': {'month': 1, 'year': 2015}}","{'startDate': {'month': 9, 'year': 2020}}"
exp_1title,Web expert,Directrice des op√©rations,"Regional Director( France, Italy, Russia, Spain)",Co-Founder & CEO,Directrice g√©n√©rale adjointe
exp_2company,"{'employeeCountRange': {'start': 201, 'end': 5...","{'employeeCountRange': {'start': 11, 'end': 50...","{'employeeCountRange': {'start': 0, 'end': 1},...","{'employeeCountRange': {'start': 10001}, 'indu...","{'employeeCountRange': {'start': 501, 'end': 1..."
exp_2companyName,Clever Age,Cap Collectif,Maison Bonnemuse,Google,Adie
exp_2description,"Expert PHP : audit, performance, m√©thodologie ...","Key figures : 250 clients / 2,5 M‚Ç¨ CA / 30 ETP...",Sustainable and inclusive jumpsuits that tell ...,Responsibilities:\n- Drive platforms revenue g...,[]
exp_2geoLocationName,[],[],"Paris, √éle-de-France, France","Istanbul, Dubai","R√©gion de Paris, France"
exp_2locationName,[],[],"Paris, √éle-de-France, France","Istanbul, Dubai","R√©gion de Paris, France"
exp_2region,[],[],"urn:li:fs_region:(fr,0)",[],[]
exp_2timePeriod,"{'endDate': {'month': 1, 'year': 2012}, 'start...","{'endDate': {'month': 3, 'year': 2022}, 'start...","{'startDate': {'month': 10, 'year': 2020}}","{'endDate': {'month': 7, 'year': 2015}, 'start...","{'startDate': {'month': 9, 'year': 2019}}"
exp_2title,Consultant Expert PHP,Directrice du d√©veloppement commercial,Founder,"Regional Sales Manager, Media Platforms, MENA ...",Directrice des relations institutionnelles et ...
exp_3company,[],"{'employeeCountRange': {'start': 11, 'end': 50...","{'employeeCountRange': {'start': 201, 'end': 5...","{'employeeCountRange': {'start': 10001}, 'indu...","{'employeeCountRange': {'start': 2, 'end': 10}..."
exp_3companyName,Solution Interactive,Animafac,Change.org,Google,FLUICITY
exp_3description,[],Pilotage du projet associatif et des plaidoyer...,[],Responsibilities:\n- Build and execute market ...,Start up de la Civic Tech. Plateforme num√©riq...
exp_3geoLocationName,[],Paris,"Paris, √éle-de-France, France","Paris, Emerging markets (covering AE, IL, PL, ...","R√©gion de Paris, France"
exp_3locationName,[],Paris,"Paris, √éle-de-France, France","Paris, Emerging markets (covering AE, IL, PL, ...","R√©gion de Paris, France"
exp_3region,[],[],"urn:li:fs_region:(fr,0)",[],"urn:li:fs_region:(fr,5227)"
exp_3timePeriod,"{'endDate': {'month': 9, 'year': 2009}, 'start...","{'endDate': {'month': 1, 'year': 2017}, 'start...","{'endDate': {'month': 10, 'year': 2022}, 'star...","{'endDate': {'month': 12, 'year': 2012}, 'star...","{'endDate': {'month': 5, 'year': 2019}, 'start..."
exp_3title,Lead developer,D√©l√©gu√©e g√©n√©rale,"Director, France and Campaigns Support","Senior Sales Manager, Media Platforms, Emergin...",Responsable du d√©veloppement
exp_4company,[],"{'employeeCountRange': {'start': 11, 'end': 50...","{'employeeCountRange': {'start': 201, 'end': 5...","{'employeeCountRange': {'start': 2, 'end': 10}...","{'employeeCountRange': {'start': 10001}, 'indu..."
exp_4companyName,[],Animafac,Change.org,Unfair magazine,Mairie de Paris
exp_4description,[],[],Senior campaigner in charge of looking ahead a...,Launched and established the first Abu Dhabi b...,"Insertion sociale et professionnelle (RSA), in..."
exp_4geoLocationName,[],Paris,"Paris Area, France","Abu Dhabi, United Arab Emirates","R√©gion de Paris, France"
exp_4locationName,[],Paris,"Paris Area, France","Abu Dhabi, United Arab Emirates","R√©gion de Paris, France"
exp_4timePeriod,[],"{'endDate': {'month': 9, 'year': 2012}, 'start...","{'endDate': {'month': 12, 'year': 2020}, 'star...","{'endDate': {'month': 9, 'year': 2010}, 'start...","{'endDate': {'month': 12, 'year': 2016}, 'star..."
exp_4title,[],Directrice administrative et financi√®re,Senior Campaigner,Managing Director,Adjointe de la sous directrice en charge de l'...
exp_5company,[],"{'employeeCountRange': {'start': 10001}, 'indu...","{'employeeCountRange': {'start': 201, 'end': 5...","{'employeeCountRange': {'start': 10001}, 'indu...","{'employeeCountRange': {'start': 5001, 'end': ..."
exp_5companyName,[],Mairie de Paris,Change.org,BBC News,Conseil G√©n√©ral du Nord
exp_5description,[],[],[],Responsibilities:\n- Produce Middle East Busin...,Mise en place d‚Äôune d√©marche globale de suivi ...
exp_5geoLocationName,[],[],"Paris Area, France","Dubai, United Arab Emirates",[]
exp_5locationName,[],[],"Paris Area, France","Dubai, United Arab Emirates",[]
exp_5timePeriod,[],"{'endDate': {'year': 2009}, 'startDate': {'yea...","{'endDate': {'month': 5, 'year': 2018}, 'start...","{'endDate': {'month': 12, 'year': 2008}, 'star...","{'endDate': {'month': 10, 'year': 2014}, 'star..."
exp_5title,[],Charg√©e de mission aupr√®s du chef de cabinet d...,Campaigner,Producer,Responsable de service
geoCountryName,France,France,France,France,France
geoLocationName,Greater Paris Metropolitan Region,Greater Paris Metropolitan Region,"Paris, √éle-de-France","Paris, √éle-de-France","Montreuil, √éle-de-France"
headline,Web expert chez Jolicode,Directrice des op√©rations chez Cap Collectif,"Regional Director (France, Italy, Russia and S...",Co-founder & CEO @Fluicity üí° Co-founder Associ...,Directrice g√©n√©rale adjointe chez Adie
lang_1name,Anglais,[],Anglais,Arabic,Anglais
lang_1proficiency,[],[],FULL_PROFESSIONAL,LIMITED_WORKING,PROFESSIONAL_WORKING
lang_2name,[],[],Espagnol,English,Fran√ßais
lang_2proficiency,[],[],LIMITED_WORKING,[],NATIVE_OR_BILINGUAL
lang_3name,[],[],Fran√ßais,French,[]
lang_3proficiency,[],[],NATIVE_OR_BILINGUAL,NATIVE_OR_BILINGUAL,[]
summary,"IT Consultant, Technical Expert, Lead develope...",[],People Power,16+ years of experience driving change in the ...,[]
vol_1companyName,[],La Cravate Solidaire,Samu Social de Paris,BeCode.org,[]
vol_1role,[],Administratrice,Volunteer,Board Member,[]

### Exporting our dataset

In [35]:
data.to_csv("dataset2.csv", sep=';', index=False)