## Importing information

In [1]:
import pandas as pd
import json
import numpy as np
import os

In [2]:
def create_profile(x, url):
    with open(str(url)+str(x)) as f:
        dict1 = json.load(f)
    list_col= ['experience', 'education', 'languages','languages','publications', 'certifications','volunteer', 'honors', 'projects']
    for n in list_col:
        if n in dict1:
            for i in range(len(dict1[n])): 
                dict1[str(n+str(i+1))]= dict1[n][i]
    data = pd.DataFrame.from_dict(dict1, orient='index').T
    return data

In [3]:
file_list = [f for f in os.listdir('../data/jsons') if f.endswith(".json")]
len(file_list)

49

In [4]:
initial_profile=create_profile('brachetantoine.json', '../data/jsons/')

In [5]:
profiles = initial_profile
for i in file_list:
    a= create_profile(i, '../data/jsons/')
    profiles= pd.concat((profiles,a),axis=0)

In [6]:
file_list2 = [f for f in os.listdir('../data/jsons2') if f.endswith(".json")]
len(file_list2)

124

In [7]:
profiles2 = initial_profile
for i in file_list2:
    a= create_profile(i,'../data/jsons2/')
    profiles2= pd.concat((profiles2,a),axis=0)

In [8]:
data=pd.concat([profiles, profiles2]).reset_index(drop=True)
data.head(2)

,summary,industryName,lastName,student,geoCountryName,geoCountryUrn,geoLocationBackfilled,elt,industryUrn,firstName,...,publications9,publications10,maidenName,projects8,certifications5,certifications6,certifications7,certifications8,certifications9,certifications10
0,Antoine croit à l’intelligence de tous et à la...,IT Services and IT Consulting,Brachet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,Antoine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,French Entrepreneur - Founder and Managing Par...,Venture Capital and Private Equity Principals,Demri,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:106,Bobby,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Initial dataset cleaning

In [9]:
data.shape

(173, 89)

In [10]:
print(list(data.columns))

['summary', 'industryName', 'lastName', 'student', 'geoCountryName', 'geoCountryUrn', 'geoLocationBackfilled', 'elt', 'industryUrn', 'firstName', 'entityUrn', 'geoLocation', 'geoLocationName', 'location', 'headline', 'displayPictureUrl', 'img_100_100', 'img_200_200', 'img_400_400', 'img_800_800', 'profile_id', 'profile_urn', 'member_urn', 'public_id', 'experience', 'education', 'languages', 'publications', 'certifications', 'volunteer', 'honors', 'projects', 'experience1', 'experience2', 'experience3', 'experience4', 'experience5', 'education1', 'education2', 'education3', 'languages1', 'languages2', 'languages3', 'publications1', 'publications2', 'publications3', 'publications4', 'publications5', 'publications6', 'publications7', 'publications8', 'locationName', 'honors1', 'honors2', 'honors3', 'honors4', 'honors5', 'honors6', 'honors7', 'volunteer1', 'volunteer2', 'volunteer3', 'projects1', 'projects2', 'projects3', 'birthDate', 'languages4', 'projects4', 'projects5', 'address', 'languages5', 'languages6', 'certifications1', 'projects6', 'projects7', 'certifications2', 'certifications3', 'certifications4', 'languages7', 'publications9', 'publications10', 'maidenName', 'projects8', 'certifications5', 'certifications6', 'certifications7', 'certifications8', 'certifications9', 'certifications10']

### Drop duplicates in rows

In [11]:
mask = data.duplicated(subset=['headline', 'firstName', 'lastName'], keep='first')
dropped = data.loc[mask]
dropped

,summary,industryName,lastName,student,geoCountryName,geoCountryUrn,geoLocationBackfilled,elt,industryUrn,firstName,...,publications9,publications10,maidenName,projects8,certifications5,certifications6,certifications7,certifications8,certifications9,certifications10
3,Antoine croit à l’intelligence de tous et à la...,IT Services and IT Consulting,Brachet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,Antoine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Antoine croit à l’intelligence de tous et à la...,IT Services and IT Consulting,Brachet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,Antoine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,French Entrepreneur - Founder and Managing Par...,Venture Capital and Private Equity Principals,Demri,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:106,Bobby,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Inspired by the power we can build to change t...,Civic and Social Organizations,Durieux,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:90,Sarah,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,Internet,Paret,False,France,urn:li:fs_geo:105015875,False,True,urn:li:fs_industry:6,Jeremie,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.drop_duplicates(subset=['headline', 'firstName', 'lastName'], keep='first', inplace=True)

### Dropping unnecessary columns (specific to LIn, personal information, etc.)

In [13]:
pd.options.display.max_rows = 100

In [14]:
todrop=['industryName', 'experience', 'education', 'languages','languages','publications', 
        'certifications','volunteer', 'honors', 'projects', 
        'displayPictureUrl', 'img_100_100', 'img_200_200', 'img_400_400', 
        'img_800_800', 'student', 'maidenName', 'birthDate', 
        'address','geoCountryUrn', 'geoLocationBackfilled', 'elt', 'industryUrn',
        'entityUrn', 'geoLocation', 'location', 'locationName', 
        'profile_id', 'profile_urn', 'member_urn', 'public_id']
data.drop(columns=todrop, inplace=True)

In [15]:
data.describe().T.sort_index()

,count,unique,top,freq
certifications1,42,42,{'name': 'Psychology'},1
certifications10,3,3,"{'authority': 'LinkedIn', 'name': 'Project Man...",1
certifications2,21,21,"{'authority': 'OpenClassrooms', 'name': 'Learn...",1
certifications3,12,12,"{'authority': 'COLIBRIS', 'name': 'Quelle démo...",1
certifications4,7,7,"{'authority': 'A Cloud Guru', 'name': 'Introdu...",1
certifications5,6,6,"{'authority': 'Google', 'name': 'Google Ads Ce...",1
certifications6,6,6,"{'authority': 'Google', 'name': 'Certification...",1
certifications7,6,6,"{'authority': 'HubSpot', 'name': 'Hubspot Inbo...",1
certifications8,4,4,"{'authority': 'LinkedIn', 'name': 'Become an H...",1
certifications9,4,4,"{'authority': 'ETS Global', 'name': 'TOEIC', '...",1
education1,161,161,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,1
education2,145,145,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,1
education3,120,120,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,1
experience1,167,167,"{'locationName': 'Paris Area, France', 'entity...",1
experience2,162,162,{'entityUrn': 'urn:li:fs_position:(ACoAAAA615E...,1
experience3,161,161,"{'locationName': 'Paris', 'entityUrn': 'urn:li...",1
experience4,157,157,"{'locationName': 'Paris Area, France', 'entity...",1
experience5,150,150,"{'locationName': 'Paris', 'entityUrn': 'urn:li...",1
firstName,168,123,Nicolas,6
geoCountryName,166,3,France,159
geoLocationName,141,37,"Paris, Île-de-France",58
headline,167,167,"Directeur associé de bluenove, initiateur du m...",1
honors1,31,31,{'description': 'THE WEBBY AWARDS IS THE LEADI...,1
honors2,20,20,{'description': 'The leading international awa...,1
honors3,11,11,{'description': 'Eurobest is the world's pre-e...,1
honors4,9,9,{'description': 'The London International Awar...,1
honors5,7,7,{'description': 'Le Grand Prix de l’Innovation...,1
honors6,6,6,{'description': 'The Cannes Lions Internationa...,1
honors7,2,2,{'description': 'The Cannes Lions Internationa...,1
languages1,118,32,"{'name': 'English', 'proficiency': 'FULL_PROFE...",19
languages2,109,32,"{'name': 'French', 'proficiency': 'NATIVE_OR_B...",28
languages3,93,43,"{'name': 'Français', 'proficiency': 'NATIVE_OR...",32
languages4,49,34,"{'name': 'Français', 'proficiency': 'NATIVE_OR...",8
languages5,22,17,"{'name': 'Espagnol', 'proficiency': 'FULL_PROF...",2
languages6,7,7,"{'name': 'Spanish', 'proficiency': 'ELEMENTARY'}",1
languages7,2,2,"{'name': 'Italien', 'proficiency': 'ELEMENTARY'}",1
lastName,168,154,Coutant,2
projects1,48,48,{'members': [{'member': {'firstName': 'Bastien...,1
projects2,31,31,{'members': [{'member': {'firstName': 'Bastien...,1
projects3,20,20,{'members': [{'member': {'firstName': 'Coline'...,1
projects4,14,14,{'occupation': 'urn:li:fs_position:(ACoAAABaH0...,1
projects5,10,10,{'occupation': 'urn:li:fs_position:(ACoAAABaH0...,1
projects6,4,4,{'occupation': 'urn:li:fs_position:(ACoAAAfEoR...,1
projects7,4,4,{'occupation': 'urn:li:fs_position:(ACoAAAfEoR...,1
projects8,1,1,{'occupation': 'urn:li:fs_position:(ACoAAAMqDL...,1
publications1,63,63,"{'date': {'month': 9, 'year': 2017, 'day': 1},...",1
publications10,13,13,"{'date': {'year': 2012}, 'name': '""Les Politiq...",1
publications2,46,46,"{'date': {'month': 3, 'year': 2016, 'day': 1},...",1
publications3,38,38,"{'date': {'month': 6, 'year': 2014, 'day': 30}...",1
publications4,37,37,"{'date': {'month': 6, 'year': 2014, 'day': 11}...",1
publications5,28,28,"{'date': {'month': 4, 'year': 2014, 'day': 22}...",1
publications6,25,25,"{'date': {'month': 9, 'year': 2006, 'day': 25}...",1
publications7,21,21,{'name': 'Mes Contributions dans le Huffington...,1
publications8,18,18,{'name': 'Mes contributions dans lePlus de l'O...,1
publications9,16,16,"{'date': {'year': 2013}, 'name': 'Qué Politica...",1
summary,108,108,Antoine croit à l’intelligence de tous et à la...,1
volunteer1,75,75,"{'role': 'Co-Founder', 'companyName': 'Collect...",1
volunteer2,63,63,"{'role': 'Board Member', 'companyName': 'Empow...",1
volunteer3,43,43,"{'role': 'Co-founder', 'companyName': 'Rencont...",1

### Exploding columns

In [16]:
# there must be a more functional way to do what is happening below
# but i'm too tired :)

In [17]:
for i in range (1,4): 
    data=pd.concat([data, 
    pd.DataFrame(data['education'+str(i)].apply(pd.Series)).add_prefix('ed_'+str(i)), 
    pd.DataFrame(data['volunteer'+str(i)].apply(pd.Series)).add_prefix('vol_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns=['education'+str(i),'volunteer'+str(i)], inplace=True)

In [18]:
for i in range (1,6): 
    data=pd.concat([data, 
    pd.DataFrame(data['experience'+str(i)].apply(pd.Series)).add_prefix('exp_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns='experience'+str(i), inplace=True)

In [19]:
for i in range (1,8): 
    data=pd.concat([data, 
    pd.DataFrame(data['honors'+str(i)].apply(pd.Series)).add_prefix('hon_'+str(i)), 
    pd.DataFrame(data['languages'+str(i)].apply(pd.Series)).add_prefix('lang_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns=['honors'+str(i),'languages'+str(i)], inplace=True)

In [20]:
for i in range (1,9): 
    data=pd.concat([data, 
    pd.DataFrame(data['projects'+str(i)].apply(pd.Series)).add_prefix('proj_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns='projects'+str(i), inplace=True)

In [21]:
for i in range (1,11): 
    data=pd.concat([data, 
    pd.DataFrame(data['certifications'+str(i)].apply(pd.Series)).add_prefix('cert_'+str(i)), 
    pd.DataFrame(data['publications'+str(i)].apply(pd.Series)).add_prefix('pub_'+str(i))], 
    axis=1).reset_index(drop=True)
    data.drop(columns=['certifications'+str(i),'publications'+str(i)], inplace=True)

In [22]:
list_columns=[i for i in data.columns if ("Urn" in i or "Logo" in i or "_region" in i or '_abuse' in i or '_geo' in i or '_proj' in i or '_organi' in i or '_0' in i)]
#to check before dropping 
data[list_columns].T
data.drop(columns=list_columns, inplace=True)

### We seem to still have duplicates

In [23]:
print(sorted(list(data.lastName.str.lower())))

['albet', 'alemanno', 'ami', 'andré', 'arrouard', 'auclair', 'auclair', 'baillot', 'banzet', 'barbaut', 'barbero', 'barbier', 'barre', 'bauquet', 'behar', 'behar', 'benkirane', 'bensa', 'berenguer-moncada', 'bertrand', 'bertrand', 'bessoles', 'besson', 'besson', 'bianchin-fabre', 'bloch', 'bouché', 'boudehen', 'bourlitio', 'brachet', 'briante guillemont', 'buchotte', 'bézard', 'canivet', 'chadenet', 'chaput', 'chatellier', 'chaygneaud-dupuy', 'chevallereau', 'choisne', 'claret', 'cochin', 'colas', 'colas', 'colombe', 'combaz', 'coudard', 'coutant', 'coutant', 'd', 'd.', 'daniel', 'daniel', 'dardier', 'dauchez', 'de bodman', 'de briey', 'de marignan', 'de pimodan', 'de roquefeuil', 'de royer', 'de sousa', 'de sousa', 'deffrennes', 'deleris', 'deleris', 'dembele', 'demri', 'demri', 'dernoncourt', 'des gachons', 'desmaison', 'deville', 'diguet', 'dubreuil', 'dubreuil', 'duguet', 'duperthuy', 'durieux', 'duriez', 'duriez', 'duval', 'désigaud', 'désigaud', 'escoubes', 'eve', 'forest', 'fox', 'françois', 'gabadou santiago', 'gaboriau', 'garnier-nguyen', 'gautier', 'gille', 'gilles', 'gombert', 'goujon', 'gresset', 'grunelius', 'guimas', 'hanson', 'haro', 'jachiet', 'jaillot', 'japiot', 'kergall', 'kergall', 'kleck casalegno', 'kumpf', 'l.', 'l.', 'lacot', 'lage', 'larroque', 'lavayssière', 'le botlan', 'le masne', 'le roux', 'le roux', 'lecourtois', 'legros', 'legros', 'lenoir', 'lenoir', 'levoir', 'levoir', 'liot', 'mabi', 'marchandise ', 'mateus', 'mcgrath-dehecq', 'medrinal', 'meiss', 'miailhe', 'monclaire', 'noury', 'pahud', 'paret', 'patte', 'pelissard', 'piekarski', 'pignal 🌍', 'pleurmeau', 'pons', 'pouyé', 'pulicani', 'pène', 'reboux', 'richard', 'richer', 'rosado', 'roudaut', 'rozier', 'santiso', 'schlumberger', 'schwab', 'snow', 'sotiropoulou', 'stefani', 'teulié', 'trèves', 'trèves', 'van brussel', 'vanneroy', 'vaturi', 'vignolles', 'walbaum', 'zylberberg']

In [24]:
(data.loc[(data.lastName.str.lower()=="auclair")|(data.lastName.str.lower()=="behar")|(data.lastName.str.lower()=="bertrand")|(data.lastName.str.lower()=="besson")|(data.lastName.str.lower()=="colas")|(data.lastName.str.lower()=="coutant")|(data.lastName.str.lower()=="daniel")|(data.lastName.str.lower()=="de sousa")|(data.lastName.str.lower()=="deleris")|(data.lastName.str.lower()=="demri")|(data.lastName.str.lower()=="dubreuil")|(data.lastName.str.lower()=="duriez")|(data.lastName.str.lower()=="désigaud")|(data.lastName.str.lower()=="kergall")|(data.lastName.str.lower()=="l.")|(data.lastName.str.lower()=="le roux")|(data.lastName.str.lower()=="legros")|(data.lastName.str.lower()=="lenoir")|(data.lastName.str.lower()=="levoir")|(data.lastName.str.lower()=="trèves")])[["firstName", "lastName"]].sort_values(by="firstName")
data.drop(labels=[69, 121, 161, 82, 84, 93, 116,147,153,106,64,113,166,128,124,50,67,163, 150,157], axis=0, inplace=True)

### Dropping columns with too many missing values

In [25]:
a= list(data.columns)
a.sort()
data= data[a]

In [26]:
nullvalues=pd.DataFrame(data.isna().sum().sort_values(ascending=False))

In [27]:
print(list(nullvalues.index)[0:50])

['cert_10', 'cert_60', 'proj_40', 'proj_50', 'exp_20', 'proj_60', 'exp_10', 'proj_70', 'ed_30', 'cert_100', 'ed_20', 'pub_10', 'pub_100', 'pub_20', 'pub_30', 'pub_40', 'ed_10', 'cert_90', 'cert_80', 'proj_30', 'proj_20', 'proj_10', 'exp_50', 'hon_30', 'hon_40', 'hon_20', 'hon_50', 'hon_10', 'hon_60', 'hon_70', 'lang_10', 'exp_30', 'lang_20', 'lang_30', 'exp_40', 'lang_40', 'lang_50', 'lang_60', 'lang_70', 'cert_70', 'proj_80', 'cert_40', 'pub_70', 'vol_30', 'vol_20', 'pub_90', 'pub_80', 'cert_20', 'vol_10', 'cert_50']

In [28]:
data.shape

(148, 395)

In [29]:
data.reset_index(inplace=True)
data.set_index("index")

,cert_10,cert_100,cert_10authority,cert_10company,cert_10displaySource,cert_10licenseNumber,cert_10name,cert_10timePeriod,cert_10url,cert_1authority,...,vol_2description,vol_2role,vol_2timePeriod,vol_30,vol_3cause,vol_3company,vol_3companyName,vol_3description,vol_3role,vol_3timePeriod
index,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Empow’her supports women entrepreneurs so the...,Board Member,"{'endDate': {'month': 3, 'year': 2021}, 'start...",NaN,NaN,NaN,Rencontre des Justices,Rencontre des Justices is a grassroots movemen...,Co-founder,"{'endDate': {'month': 7, 'year': 2020}, 'start..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Électeurs en herbe est un programme d'éducatio...,Présidente-fondatrice,"{'startDate': {'month': 7, 'year': 2016}}",NaN,NaN,{'miniCompany': {'objectUrn': 'urn:li:company:...,Viking Club Paris,NaN,Dirigeante - Coach de l'équipe féminine U11 - U13,"{'endDate': {'month': 6, 'year': 2021}, 'start..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Animateur d’ateliers,"{'startDate': {'month': 9, 'year': 2018}}",NaN,EDUCATION,{'miniCompany': {'objectUrn': 'urn:li:company:...,Toi Aussi !,NaN,Animateur d’interventions,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ministère chargé de l'Éducation nationale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,La mission de DemocracyOS France :\n- Accompag...,Membre et trésorière,"{'endDate': {'month': 2, 'year': 2020}, 'start...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
columns= data.columns
columnstodrop=[i for i in data.columns if (data[i].isna().sum() > len(data)/2+10) or (i=="index")]
print(columnstodrop)

add_data=data[["index", "lastName", "firstName"]]
add_data=add_data.merge(data[columnstodrop], how='left', on="index")
add_data.head()

['index', 'cert_10', 'cert_100', 'cert_10authority', 'cert_10company', 'cert_10displaySource', 'cert_10licenseNumber', 'cert_10name', 'cert_10timePeriod', 'cert_10url', 'cert_1authority', 'cert_1company', 'cert_1displaySource', 'cert_1licenseNumber', 'cert_1name', 'cert_1timePeriod', 'cert_1url', 'cert_20', 'cert_2authority', 'cert_2company', 'cert_2displaySource', 'cert_2licenseNumber', 'cert_2name', 'cert_2timePeriod', 'cert_2url', 'cert_30', 'cert_3authority', 'cert_3company', 'cert_3displaySource', 'cert_3licenseNumber', 'cert_3name', 'cert_3timePeriod', 'cert_3url', 'cert_40', 'cert_4authority', 'cert_4company', 'cert_4displaySource', 'cert_4licenseNumber', 'cert_4name', 'cert_4timePeriod', 'cert_4url', 'cert_50', 'cert_5authority', 'cert_5company', 'cert_5displaySource', 'cert_5licenseNumber', 'cert_5name', 'cert_5timePeriod', 'cert_5url', 'cert_60', 'cert_6authority', 'cert_6company', 'cert_6displaySource', 'cert_6licenseNumber', 'cert_6name', 'cert_6timePeriod', 'cert_6url', 'cert_70', 'cert_7authority', 'cert_7company', 'cert_7displaySource', 'cert_7licenseNumber', 'cert_7name', 'cert_7timePeriod', 'cert_7url', 'cert_80', 'cert_8authority', 'cert_8company', 'cert_8displaySource', 'cert_8licenseNumber', 'cert_8name', 'cert_8timePeriod', 'cert_8url', 'cert_90', 'cert_9authority', 'cert_9company', 'cert_9displaySource', 'cert_9licenseNumber', 'cert_9name', 'cert_9timePeriod', 'cert_9url', 'ed_10', 'ed_1activities', 'ed_1courses', 'ed_1description', 'ed_1grade', 'ed_1honors', 'ed_1projects', 'ed_20', 'ed_2activities', 'ed_2courses', 'ed_2description', 'ed_2grade', 'ed_2honors', 'ed_2projects', 'ed_30', 'ed_3activities', 'ed_3courses', 'ed_3description', 'ed_3grade', 'ed_3honors', 'ed_3projects', 'exp_10', 'exp_1courses', 'exp_1honors', 'exp_1organizations', 'exp_1projects', 'exp_20', 'exp_2courses', 'exp_2honors', 'exp_2organizations', 'exp_2projects', 'exp_30', 'exp_3courses', 'exp_3honors', 'exp_3projects', 'exp_40', 'exp_4courses', 'exp_4honors', 'exp_4projects', 'exp_4region', 'exp_50', 'exp_5courses', 'exp_5honors', 'exp_5organizations', 'exp_5projects', 'hon_10', 'hon_1description', 'hon_1issueDate', 'hon_1issuer', 'hon_1occupation', 'hon_1title', 'hon_20', 'hon_2description', 'hon_2issueDate', 'hon_2issuer', 'hon_2occupation', 'hon_2title', 'hon_30', 'hon_3description', 'hon_3issueDate', 'hon_3issuer', 'hon_3occupation', 'hon_3title', 'hon_40', 'hon_4description', 'hon_4issueDate', 'hon_4issuer', 'hon_4occupation', 'hon_4title', 'hon_50', 'hon_5description', 'hon_5issueDate', 'hon_5issuer', 'hon_5occupation', 'hon_5title', 'hon_60', 'hon_6description', 'hon_6issueDate', 'hon_6issuer', 'hon_6occupation', 'hon_6title', 'hon_70', 'hon_7description', 'hon_7issueDate', 'hon_7issuer', 'hon_7occupation', 'hon_7title', 'lang_10', 'lang_20', 'lang_30', 'lang_40', 'lang_4name', 'lang_4proficiency', 'lang_50', 'lang_5name', 'lang_5proficiency', 'lang_60', 'lang_6name', 'lang_6proficiency', 'lang_70', 'lang_7name', 'lang_7proficiency', 'proj_10', 'proj_1description', 'proj_1members', 'proj_1occupation', 'proj_1timePeriod', 'proj_1title', 'proj_1url', 'proj_20', 'proj_2description', 'proj_2members', 'proj_2occupation', 'proj_2timePeriod', 'proj_2title', 'proj_2url', 'proj_30', 'proj_3description', 'proj_3members', 'proj_3occupation', 'proj_3timePeriod', 'proj_3title', 'proj_3url', 'proj_40', 'proj_4description', 'proj_4members', 'proj_4occupation', 'proj_4timePeriod', 'proj_4title', 'proj_4url', 'proj_50', 'proj_5description', 'proj_5members', 'proj_5occupation', 'proj_5timePeriod', 'proj_5title', 'proj_5url', 'proj_60', 'proj_6description', 'proj_6members', 'proj_6occupation', 'proj_6timePeriod', 'proj_6title', 'proj_6url', 'proj_70', 'proj_7description', 'proj_7members', 'proj_7occupation', 'proj_7timePeriod', 'proj_7title', 'proj_7url', 'proj_80', 'proj_8description', 'proj_8members', 'proj_8occupation', 'proj_8timePeriod', 'proj_8title', 'proj_8url', 'pub_10', 'pub_100', 'pub_10authors', 'pub_10date', 'pub_10description', 'pub_10name', 'pub_10publisher', 'pub_10url', 'pub_1authors', 'pub_1date', 'pub_1description', 'pub_1name', 'pub_1publisher', 'pub_1url', 'pub_20', 'pub_2authors', 'pub_2date', 'pub_2description', 'pub_2name', 'pub_2publisher', 'pub_2url', 'pub_30', 'pub_3authors', 'pub_3date', 'pub_3description', 'pub_3name', 'pub_3publisher', 'pub_3url', 'pub_40', 'pub_4authors', 'pub_4date', 'pub_4description', 'pub_4name', 'pub_4publisher', 'pub_4url', 'pub_50', 'pub_5authors', 'pub_5date', 'pub_5description', 'pub_5name', 'pub_5publisher', 'pub_5url', 'pub_60', 'pub_6authors', 'pub_6date', 'pub_6description', 'pub_6name', 'pub_6publisher', 'pub_6url', 'pub_70', 'pub_7authors', 'pub_7date', 'pub_7description', 'pub_7name', 'pub_7publisher', 'pub_7url', 'pub_80', 'pub_8authors', 'pub_8date', 'pub_8description', 'pub_8name', 'pub_8publisher', 'pub_8url', 'pub_90', 'pub_9authors', 'pub_9date', 'pub_9description', 'pub_9name', 'pub_9publisher', 'pub_9url', 'vol_10', 'vol_1cause', 'vol_1company', 'vol_1description', 'vol_20', 'vol_2cause', 'vol_2company', 'vol_2companyName', 'vol_2description', 'vol_2role', 'vol_2timePeriod', 'vol_30', 'vol_3cause', 'vol_3company', 'vol_3companyName', 'vol_3description', 'vol_3role', 'vol_3timePeriod']

,index,lastName,firstName,cert_10,cert_100,cert_10authority,cert_10company,cert_10displaySource,cert_10licenseNumber,cert_10name,...,vol_2description,vol_2role,vol_2timePeriod,vol_30,vol_3cause,vol_3company,vol_3companyName,vol_3description,vol_3role,vol_3timePeriod
0,0,Brachet,Antoine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Demri,Bobby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Durieux,Sarah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Empow’her supports women entrepreneurs so the...,Board Member,"{'endDate': {'month': 3, 'year': 2021}, 'start...",NaN,NaN,NaN,Rencontre des Justices,Rencontre des Justices is a grassroots movemen...,Co-founder,"{'endDate': {'month': 7, 'year': 2020}, 'start..."
3,3,Jaillot,Bastien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Vanneroy,Coline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Électeurs en herbe est un programme d'éducatio...,Présidente-fondatrice,"{'startDate': {'month': 7, 'year': 2016}}",NaN,NaN,{'miniCompany': {'objectUrn': 'urn:li:company:...,Viking Club Paris,NaN,Dirigeante - Coach de l'équipe féminine U11 - U13,"{'endDate': {'month': 6, 'year': 2021}, 'start..."

In [46]:
add_data.to_csv("//Users/tatianadeferaudy/Desktop/bacasable/marche_CT/additional_data_low_response.csv", sep=';', index=True)

In [32]:
data.drop(columns=columnstodrop, inplace=True)

In [33]:
nullvalues=pd.DataFrame(data.isna().sum().sort_values(ascending=False))
nullvalues.head()

                  0
vol_1timePeriod  82
exp_5region      82
exp_2region      81
exp_3region      80
vol_1role        78

### Other recoding - could be improved

In [35]:
data.drop(columns=['ed_1school', 'ed_2school','ed_3school'], inplace=True)

In [41]:
data.head()

,ed_1degreeName,ed_1fieldOfStudy,ed_1schoolName,ed_1timePeriod,ed_2degreeName,ed_2fieldOfStudy,ed_2schoolName,ed_2timePeriod,ed_3degreeName,ed_3fieldOfStudy,...,lang_1proficiency,lang_2name,lang_2proficiency,lang_3name,lang_3proficiency,lastName,summary,vol_1companyName,vol_1role,vol_1timePeriod
0,Master,Business/Managerial Economics,ESCP Europe,"{'endDate': {'year': 2002}, 'startDate': {'yea...",NaN,NaN,Prépa Saint Jean de Douai,"{'endDate': {'year': 1998}, 'startDate': {'yea...",Baccalauréat,Economics,...,FULL_PROFESSIONAL,French,NATIVE_OR_BILINGUAL,German,ELEMENTARY,Brachet,Antoine croit à l’intelligence de tous et à la...,NaN,NaN,NaN
1,NaN,Relations Internationales et Sciences Politiques,Ecole des Hautes Etudes Politiques,"{'endDate': {'year': 2009}, 'startDate': {'yea...",NaN,Relations et affaires internationales,The Hebrew University,"{'endDate': {'year': 2006}, 'startDate': {'yea...",Baccalauréat,Sciences Economiques et Sociales Option Anglais,...,NaN,NaN,NaN,NaN,NaN,Demri,French Entrepreneur - Founder and Managing Par...,NaN,NaN,NaN
2,Global messaging,Communication orale et rhétorique,ASO communications / New Economy Organizers Ne...,"{'endDate': {'month': 6, 'year': 2022}, 'start...",Training program to prepare women to political...,Political sciences and government,Investies,"{'endDate': {'month': 6, 'year': 2021}, 'start...",Public narrative,Leadership organisationnel,...,NATIVE_OR_BILINGUAL,Espagnol,NaN,Italien,NaN,Durieux,Inspired by the power we can build to change t...,Collectif Quartier Général,Co-Founder,"{'endDate': {'month': 1, 'year': 2022}, 'start..."
3,Master informatique,Architecture logicielle distribuée,Université Bordeaux I,"{'endDate': {'year': 2009}, 'startDate': {'yea...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Jaillot,"IT Consultant, Technical Expert, Lead develope...",NaN,NaN,NaN
4,Master 2,Sciences politiques,Université Paris 1 Panthéon-Sorbonne,"{'endDate': {'year': 2007}, 'startDate': {'yea...",Licence,Droit,Université Lille 2 Droit et Santé,"{'endDate': {'year': 2005}, 'startDate': {'yea...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Vanneroy,NaN,La Cravate Solidaire,Administratrice,"{'endDate': {'month': 6, 'year': 2021}, 'start..."

#### Time columns could be split

In [29]:
timecols= [i for i in data.columns if "time" in i]
timecols

['ed_1timePeriod',
 'ed_2timePeriod',
 'ed_3timePeriod',
 'exp_1timePeriod',
 'exp_2timePeriod',
 'exp_3timePeriod',
 'exp_4timePeriod',
 'exp_5timePeriod']

In [30]:
#data.isna().sum()
#data.fillna("[]", inplace=True)
# we are filling na with [] because special characters will be removed later on.

In [42]:
data.shape

(148, 66)

### Make dataframe with described dataset (modes, counts...) - not interesting if the dataframe is at this level of transformation

In [33]:
#data.describe().T
#general_pop_data= pd.DataFrame(data.describe(include="O").T)
#general_pop_data.to_csv("general_pop_data.csv", sep=';')

In [43]:
pd.options.display.max_rows = 100
data.head(5).T

,0,1,2,3,4
ed_1degreeName,Master,NaN,Global messaging,Master informatique,Master 2
ed_1fieldOfStudy,Business/Managerial Economics,Relations Internationales et Sciences Politiques,Communication orale et rhétorique,Architecture logicielle distribuée,Sciences politiques
ed_1schoolName,ESCP Europe,Ecole des Hautes Etudes Politiques,ASO communications / New Economy Organizers Ne...,Université Bordeaux I,Université Paris 1 Panthéon-Sorbonne
ed_1timePeriod,"{'endDate': {'year': 2002}, 'startDate': {'yea...","{'endDate': {'year': 2009}, 'startDate': {'yea...","{'endDate': {'month': 6, 'year': 2022}, 'start...","{'endDate': {'year': 2009}, 'startDate': {'yea...","{'endDate': {'year': 2007}, 'startDate': {'yea..."
ed_2degreeName,NaN,NaN,Training program to prepare women to political...,NaN,Licence
ed_2fieldOfStudy,NaN,Relations et affaires internationales,Political sciences and government,NaN,Droit
ed_2schoolName,Prépa Saint Jean de Douai,The Hebrew University,Investies,NaN,Université Lille 2 Droit et Santé
ed_2timePeriod,"{'endDate': {'year': 1998}, 'startDate': {'yea...","{'endDate': {'year': 2006}, 'startDate': {'yea...","{'endDate': {'month': 6, 'year': 2021}, 'start...",NaN,"{'endDate': {'year': 2005}, 'startDate': {'yea..."
ed_3degreeName,Baccalauréat,Baccalauréat,Public narrative,NaN,NaN
ed_3fieldOfStudy,Economics,Sciences Economiques et Sociales Option Anglais,Leadership organisationnel,NaN,NaN
ed_3schoolName,Lycée Kernanec,Lycée Janson-de-Sailly,Leading change network - Marshall Ganz,NaN,NaN
ed_3timePeriod,"{'endDate': {'year': 1996}, 'startDate': {'yea...","{'endDate': {'year': 2005}, 'startDate': {'yea...","{'endDate': {'month': 1, 'year': 2021}, 'start...",NaN,NaN
exp_1company,"{'employeeCountRange': {'start': 11, 'end': 50...","{'employeeCountRange': {'start': 2, 'end': 10}...","{'employeeCountRange': {'start': 2, 'end': 10}...",NaN,"{'employeeCountRange': {'start': 11, 'end': 50..."
exp_1companyName,bluenove,ROCH Ventures,Multitudes Foundation,Jolicode,Cap Collectif
exp_1description,Bluenove accompagne la transformation positive...,ROCH Ventures is a Luxembourg based VC fund pr...,Multitudes supports people across Europe to re...,I co-created JoliCode in march 2012 in order t...,"Pilotage des activités des pôles conseil, comm..."
exp_1geoLocationName,"Paris Area, France",NaN,NaN,NaN,NaN
exp_1locationName,"Paris Area, France",NaN,NaN,NaN,NaN
exp_1region,NaN,NaN,NaN,NaN,NaN
exp_1timePeriod,"{'startDate': {'month': 11, 'year': 2017}}","{'startDate': {'month': 1, 'year': 2022}}","{'startDate': {'month': 9, 'year': 2022}}","{'startDate': {'month': 3, 'year': 2012}}","{'startDate': {'month': 3, 'year': 2022}}"
exp_1title,Directeur associé,Founder & Managing Partner,Co-directrice,Web expert,Directrice des opérations
exp_2company,"{'employeeCountRange': {'start': 2, 'end': 10}...","{'employeeCountRange': {'start': 10001}, 'indu...",NaN,"{'employeeCountRange': {'start': 201, 'end': 5...","{'employeeCountRange': {'start': 11, 'end': 50..."
exp_2companyName,Démocratie Ouverte,Boston Consulting Group (BCG),SD Conseil et formation,Clever Age,Cap Collectif
exp_2description,NaN,Oversee product innovation at BCG (inclusive o...,I equip and support those who want to make the...,"Expert PHP : audit, performance, méthodologie ...","Key figures : 250 clients / 2,5 M€ CA / 30 ETP..."
exp_2geoLocationName,NaN,"Région de Paris, France",NaN,NaN,NaN
exp_2locationName,NaN,"Région de Paris, France",NaN,NaN,NaN
exp_2region,NaN,"urn:li:fs_region:(fr,5227)",NaN,NaN,NaN
exp_2timePeriod,"{'startDate': {'month': 7, 'year': 2021}}","{'endDate': {'month': 1, 'year': 2022}, 'start...","{'startDate': {'month': 9, 'year': 2021}}","{'endDate': {'month': 1, 'year': 2012}, 'start...","{'endDate': {'month': 3, 'year': 2022}, 'start..."
exp_2title,Membre du Comité d'Orientation Stratégique,Director of Innovation,"Consultant, trainer and organizer in activism ...",Consultant Expert PHP,Directrice du développement commercial
exp_3company,"{'employeeCountRange': {'start': 5001, 'end': ...","{'employeeCountRange': {'start': 10001}, 'indu...","{'employeeCountRange': {'start': 51, 'end': 20...",NaN,"{'employeeCountRange': {'start': 11, 'end': 50..."
exp_3companyName,APM - Association Progrès du Management,Orange Business Services,ECS (European Communication School),Solution Interactive,Animafac
exp_3description,NaN,Orange Business Services provides communicatio...,NaN,NaN,Pilotage du projet associatif et des plaidoyer...
exp_3geoLocationName,Paris,"Région de Paris, France",Paris,NaN,Paris
exp_3locationName,Paris,"Région de Paris, France",Paris,NaN,Paris
exp_3region,NaN,"urn:li:fs_region:(fr,5227)",NaN,NaN,NaN
exp_3timePeriod,"{'startDate': {'month': 1, 'year': 2017}}","{'endDate': {'month': 6, 'year': 2021}, 'start...","{'endDate': {'month': 9, 'year': 2022}, 'start...","{'endDate': {'month': 9, 'year': 2009}, 'start...","{'endDate': {'month': 1, 'year': 2017}, 'start..."
exp_3title,Expert,Advisory Board Member,"Teacher ""New activism, digital advocacy""",Lead developer,Déléguée générale
exp_4company,"{'employeeCountRange': {'start': 2, 'end': 10}...","{'employeeCountRange': {'start': 10001}, 'indu...","{'employeeCountRange': {'start': 51, 'end': 20...",NaN,"{'employeeCountRange': {'start': 11, 'end': 50..."
exp_4companyName,Démocratie Ouverte,Boston Consulting Group (BCG),EFAP - Ecole des nouveaux métiers de la commun...,NaN,Animafac
exp_4description,Démocratie Ouverte est un collectif citoyen in...,Head of TUNED by BCG.\nBCG change management a...,NaN,NaN,NaN
exp_4geoLocationName,"Paris Area, France","Région de Paris, France",Paris,NaN,Paris
exp_4locationName,"Paris Area, France","Région de Paris, France",Paris,NaN,Paris
exp_4timePeriod,"{'endDate': {'month': 5, 'year': 2020}, 'start...","{'endDate': {'month': 1, 'year': 2020}, 'start...","{'endDate': {'month': 9, 'year': 2022}, 'start...",NaN,"{'endDate': {'month': 9, 'year': 2012}, 'start..."
exp_4title,Co-Président,Director,"Teacher ""Influence and lobbying""",NaN,Directrice administrative et financière
exp_5company,"{'employeeCountRange': {'start': 10001}, 'indu...","{'employeeCountRange': {'start': 11, 'end': 50...","{'employeeCountRange': {'start': 201, 'end': 5...",NaN,"{'employeeCountRange': {'start': 10001}, 'indu..."
exp_5companyName,Dassault Systèmes,"GOV "" La Météo de l'Opinion "".",Change.org,NaN,Mairie de Paris
exp_5description,Netvibes provides Dashboard Intelligence ~ tra...,"Founded in 2014, GOV rapidly achieved populari...","My team and I, we give people the power to cre...",NaN,NaN
exp_5geoLocationName,Paris,"Région de Paris, France","Paris Area, France",NaN,NaN
exp_5locationName,Paris,"Région de Paris, France","Paris Area, France",NaN,NaN
exp_5region,NaN,"urn:li:fs_region:(fr,5227)","urn:li:fs_region:(fr,5227)",NaN,NaN
exp_5timePeriod,"{'endDate': {'month': 10, 'year': 2017}, 'star...","{'endDate': {'month': 11, 'year': 2017}, 'star...","{'endDate': {'month': 10, 'year': 2021}, 'star...",NaN,"{'endDate': {'year': 2009}, 'startDate': {'yea..."
exp_5title,"Senior Director, Strategic Business Development",Co-Founder GOV (exited),Executive Director,NaN,Chargée de mission auprès du chef de cabinet d...
firstName,Antoine,Bobby,Sarah,Bastien,Coline
geoCountryName,France,France,France,France,France
geoLocationName,Greater Paris Metropolitan Region,"Paris, Île-de-France","Paris, Île-de-France",Greater Paris Metropolitan Region,Greater Paris Metropolitan Region
headline,"Directeur associé de bluenove, initiateur du m...",Founder & Managing Partner at ROCH Ventures,Co-director Multitudes Foundation - Activist a...,Web expert chez Jolicode,Directrice des opérations chez Cap Collectif
lang_1name,English,NaN,Anglais,Anglais,NaN
lang_1proficiency,FULL_PROFESSIONAL,NaN,NATIVE_OR_BILINGUAL,NaN,NaN
lang_2name,French,NaN,Espagnol,NaN,NaN
lang_2proficiency,NATIVE_OR_BILINGUAL,NaN,NaN,NaN,NaN
lang_3name,German,NaN,Italien,NaN,NaN
lang_3proficiency,ELEMENTARY,NaN,NaN,NaN,NaN
lastName,Brachet,Demri,Durieux,Jaillot,Vanneroy
summary,Antoine croit à l’intelligence de tous et à la...,French Entrepreneur - Founder and Managing Par...,Inspired by the power we can build to change t...,"IT Consultant, Technical Expert, Lead develope...",NaN
vol_1companyName,NaN,NaN,Collectif Quartier Général,NaN,La Cravate Solidaire
vol_1role,NaN,NaN,Co-Founder,NaN,Administratrice
vol_1timePeriod,NaN,NaN,"{'endDate': {'month': 1, 'year': 2022}, 'start...",NaN,"{'endDate': {'month': 6, 'year': 2021}, 'start..."

### Exporting our dataset

In [47]:
data.to_csv("//Users/tatianadeferaudy/Desktop/Bacasable/marche_CT/dataset3.csv", sep=';', index=False)